html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--main-primary);
  overflow: hidden;
}

#root {
  margin: 0;
  height: 100%;
}
