{
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "standard-with-typescript",
    "airbnb-base",
    "plugin:react-hooks/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "tsconfig.json",
    "tsconfigRootDir": "C:/Users/Dark_/Desktop/myLearning/2022/ducks-tinder-app/client"
  },
  "plugins": ["react"],
  "rules": {
    "linebreak-style": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "import/prefer-default-export": "off",
    "react/display-name": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-confusing-void-expression": "off", // takes up too large code space
    "operator-linebreak": "off", // takes up too large code space
    "@typescript-eslint/indent": "off", // requires big expressions inline
    "object-curly-newline": "off", // temporary, needs to make prettierrc
    "@typescript-eslint/strict-boolean-expressions": "off", // requires extra boolean in expressions
    "no-param-reassign": "off", // bad practice, because requires to rewrite some functions to return instead of rewrite params
    "@typescript-eslint/no-misused-promises": [
      // no need to await Promise<void>
      "warn",
      {
        "checksVoidReturn": {
          "arguments": false,
          "attributes": false
        }
      }
    ]
  }
}
