.label {
  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;

  .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--color--red-100);
    width: 20px;
    height: 20px;
  }
}
