.refresh {
  font-weight: 700;
  color: var(--color--orange-100);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  padding: 10px;
  cursor: pointer;

  &.disabled {
    color: var(--main-secondary);
    cursor: default;
  }
}
