.slider {
  position: relative;
  height: 100%;
  width: 100%;

  .item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;

    &.default {
      background-size: auto 125%;
    }
  }

  li {
    width: 100%;
    margin: 0 2px;
    list-style: none;
  }
}

@media (max-width: 900px) and (max-aspect-ratio: 5/8) {
  .slider {
    .item {
      object-fit: contain;
    }
  }
}

@media (max-width: 900px) and (min-aspect-ratio: 1) {
  .slider {
    .item {
      object-fit: contain;
    }
  }
}
