.group {
  padding-top: 20px;

  .groupTitle {
    text-transform: uppercase;
    color: var(--main-secondary);
    border-bottom: 1px solid var(--border-main);
    padding: 8px 16px;
  }

  .groupDescr {
    color: var(--main-secondary);
    margin: 12px 0;
    padding: 0 16px;
  }

  .items {
    .item {
      border-bottom: 1px solid var(--border-main);
      background-color: var(--color--white-100);
      padding: 12px 16px;

      &.pointer {
        cursor: pointer;

        &:hover .setting,
        &:hover .openIcon {
          color: var(--color--pink-100) !important;
        }
      }

      &.error {
        background-color: var(--danger-red-light);
      }

      .descr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 18px;
          font-weight: 400;

          &_link {
            color: var(--main-primary);
          }

          &_center {
            margin: 0 auto;
          }
        }

        .setting {
          color: var(--main-secondary);
          transition: 0.2s;

          &_textOverflow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 180px;
          }

          .openIcon {
            font-size: 14px;
            color: var(--color--white-90);
            margin-left: 10px;
            transition: 0.2s;
          }
        }
      }

      .setting {
        .slider {
          margin: 20px 0px 10px;
        }
      }
    }
  }
}
