@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--main-primary);
}

#root {
  margin: 0;
  height: 100%;
}
