.text {
  max-width: 490px;
  overflow-wrap: break-word;
}

.timestamp {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: var(--primary-chat);
  font-size: 12px;
}

@media (max-width: 900px) {
  .text {
    max-width: 700px;
  }
}

@media (max-width: 430px) {
  .text {
    font-size: 14px;
  }
}
