@keyframes slidein {
  from {
    left: 420px;
  }

  to {
    left: 0px;
  }
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
  background-color: var(--color--yellow-20);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  animation-name: slidein;
  animation-duration: 1s;

  &_active {
    left: 0px;
  }

  &_error {
    background-color: var(--color--brown-70);
  }

  .text {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .mark {
    position: absolute;
    bottom: 2px;
    right: -12px;
    width: 12px;
    height: 13px;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 200%;
      height: 200%;
      position: absolute;
      border-radius: 69%;
      bottom: 50px;
      left: -16px;
      box-shadow: 0px 45px 0 0 var(--color--yellow-20);
    }

    &_error::before {
      box-shadow: 0px 45px 0 0 var(--color--brown-70);
    }
  }

  .close {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
  }
}
