.container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  &.s {
    width: 36px;
    min-width: 36px;
    height: 36px;
  }

  &.m {
    width: 50px;
    min-width: 50px;
    height: 50px;
  }

  &.l {
    width: 90px;
    min-width: 90px;
    height: 90px;
  }

  &.xl {
    width: 140px;
    min-width: 140px;
    height: 140px;
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 155%;
  }
}
