.wrapper {
  display: table;
  padding: 8px 0;
  position: relative;

  .container {
    display: flex;

    .avatar {
      margin-right: 8px;
    }

    .message {
      background-color: var(--color--white-100);
      padding: 8px;
      border-radius: 8px;

      &.own {
        background: linear-gradient(
          45deg,
          var(--color--pink-10),
          var(--color--brown-100)
        );
      }

      .username {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 2px;
      }

      .content {
        overflow-wrap: break-word;
        max-width: 490px;
      }
    }
  }
}
