.wrapper {
  display: table;
  padding: 8px 0;
  position: relative;

  .container {
    display: flex;

    .avatar {
      margin-right: 8px;
    }

    .message {
      background-color: var(--color--white-100);
      padding: 8px;
      padding-right: 40px;
      border-radius: 8px;

      &.own {
        background: linear-gradient(
          45deg,
          var(--color--pink-10),
          var(--color--brown-100)
        );
      }

      &.selected {
        background: rgb(228, 228, 228);
      }

      &.editing {
        padding-right: 0px !important;
        min-width: 590px;

        .content {
          max-width: none;
          width: 590px;
        }
      }

      &.edited {
        padding-right: 80px;

        .timestamp {
          right: -70px !important;
        }
      }

      .username {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 2px;
      }

      .content {
        max-width: 490px;
        padding-right: 8px;
        position: relative;

        .text {
          max-width: 490px;
          overflow-wrap: break-word;
        }

        .timestamp {
          position: absolute;
          bottom: 0;
          right: -30px;
          color: var(--color--black-85);
          font-size: 12px;
        }

        .reply {
          display: flex;
          align-items: center;
          padding: 4px 0;
          padding-left: 10px;
          max-width: 400px;
          position: relative;

          .border {
            height: 40px;
            width: 4px;
            background-color: var(--color--red-90);
            border-radius: 2px;
          }

          .reply_message {
            margin-left: 10px;
            background: inherit;
            max-width: 370px;

            .reply_username {
              font-weight: 600;
              font-size: 15px;
              margin-bottom: 2px;
            }

            .reply_text {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 14px;
              max-width: 400px;
            }
          }
        }
      }
    }

    .dots {
      font-size: 20px;
      cursor: pointer;
      padding: 8px;
      margin-left: 8px;
      opacity: 0;
      visibility: hidden;
      transition: 0.1s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.171);
        border-radius: 8px;
      }
    }

    &:hover .dots {
      opacity: 1;
      visibility: visible;
    }
  }
}
