.wrapper {
  display: table;
  padding: 8px 0;
  position: relative;

  .container {
    display: flex;

    .avatar {
      margin-right: 8px;
    }

    .message {
      background-color: var(--color--white-100);
      padding: 8px;
      padding-right: 70px;
      border-radius: 8px;

      &.own {
        background: linear-gradient(
          45deg,
          var(--color--pink-10),
          var(--color--brown-100)
        );
      }

      &.selected {
        background: rgb(228, 228, 228);
      }

      &.editing {
        padding-right: 0px !important;
        min-width: 590px;

        .content {
          max-width: none;
          width: 590px;
        }
      }

      &.edited {
        padding-right: 100px;

        .timestamp {
          right: -90px !important;
        }
      }

      .username {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 2px;
      }

      .content {
        max-width: 490px;
        padding-right: 8px;
        position: relative;

        .text {
          max-width: 490px;
          overflow-wrap: break-word;
        }

        .timestamp {
          position: absolute;
          bottom: 0;
          right: -60px;
          color: var(--color--black-85);
          font-size: 12px;
        }
      }
    }

    .dots {
      font-size: 20px;
      cursor: pointer;
      padding: 8px;
      margin-left: 8px;
      opacity: 0;
      visibility: hidden;
      transition: 0.1s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.171);
        border-radius: 8px;
      }
    }

    &:hover .dots {
      opacity: 1;
      visibility: visible;
    }
  }
}
