.title {
  font-size: 16px;
  color: var(--main-secondary);
  margin: 12px 0;
  padding: 0 16px;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  overflow: auto;
  scrollbar-width: none;
  max-height: 200px;
  background-color: var(--color--white-90);
  padding: 10px;
  border-top: 2px solid var(--border-main);
  border-bottom: 2px solid var(--border-main);

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    padding: 5px 25px 5px 10px;
    background-color: var(--color--white-100);
  }
}

.showAll {
  width: 89px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color--red-90);
  background-color: var(--color--white-100);
  cursor: pointer;
  width: 100%;
  max-width: 339px;
  padding: 16px calc(50% - 40px);
  border-bottom: 1px solid var(--border-main);
}
