.thumbnail {
  border-bottom: 1px solid var(--border-main);
  background-color: var(--bg-sub-primary);
  padding: 12px 16px;

  &.pointer {
    cursor: pointer;

    &:hover .value,
    &:hover .icon {
      color: var(--color--pink-100) !important;
    }
  }

  &.error {
    background-color: var(--danger-red-light);
  }

  &.overflow {
    .value {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 160px;
      padding-right: 12px;

      .icon {
        position: absolute;
        top: 2px;
        right: 0px;
        z-index: 1;
      }
    }
  }

  &.logout {
    border-top: 1px solid var(--border-main);

    .title {
      width: 100%;
      text-align: center;
    }

    .icon {
      display: none;
    }
  }

  .descr {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 18px;
      font-weight: 400;

      &.center {
        margin: 0 auto;
      }
    }

    .value {
      color: var(--main-secondary);
      transition: 0.2s;
      position: relative;

      &.textOverflow {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 160px;
        padding-right: 12px;
      }

      .icon {
        font-size: 14px;
        color: var(--color--white-90);
        margin-left: 10px;
        transition: 0.2s;

        &.absolute {
          position: absolute;
          top: 2px;
          right: 0px;
          z-index: 1;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .thumbnail {
    padding: 12px 40px;
  }
}

@media (max-width: 500px) {
  .thumbnail {
    padding: 12px 10px;
  }
}

@media (max-width: 400px) {
  .thumbnail {
    .descr {
      .title {
        font-size: 16px;
        font-weight: 300;
      }

      .value {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 350px) {
  .thumbnail {
    padding: 12px 4px;

    .descr {
      .title {
        font-size: 14px;
      }

      .value {
        font-size: 12px;
      }
    }
  }
}
