.messages {
  position: relative;
  overflow: auto;
  height: calc(100% - 110px);
  padding: 8px 30px;

  &.replying:not(.noMessages),
  &.messageEditing:not(.noMessages) {
    height: calc(100% - 170px);
  }

  .loadMessages {
    padding: 20px;
  }
}

.lazy_wrapper {
  display: flex;
  padding: 8px 0;

  .lazy_message {
    margin-left: 8px;
  }
}

@media (max-width: 1260px) {
  .messages {
    padding: 8px 20px;
  }
}

@media (max-width: 550px) {
  .messages {
    padding: 8px 10px;
  }

  .lazy_wrapper {
    span {
      max-width: 200px;
    }
  }
}
