.group {
  padding-top: 20px;

  .groupTitle {
    text-transform: uppercase;
    color: #505965;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 8px 16px;
  }

  .items {
    .item {
      border-bottom: 1px solid rgb(214, 214, 214);
      background-color: #ffffff;
      padding: 12px 16px;

      &_link {
        padding: 0;

        .icon {
          color: #505965;
          transition: 0.2s;
        }

        &:hover .icon {
          color: #fd267a !important;
        }

        .link {
          display: block;
          padding: 12px 16px;
          text-decoration: none;
        }
      }

      .descr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 18px;
          font-weight: 400;

          &_link {
            color: #21262e;
          }
        }
      }
    }
  }
}
