.info {
  max-width: 340px;
  width: 100%;
  height: 100vh;
  border-right: 1px solid rgb(214, 214, 214);

  .user {
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    background-image: linear-gradient(45deg, #fd267a, #ff6036);

    .person {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px;
      margin-left: 12px;
      border-radius: 36px;
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.384);
      }

      .name {
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        margin: 0 8px;
      }
    }

    .review {
      position: absolute;
      top: 25px;
      right: 15px;
    }

    .work {
      position: absolute;
      top: 25px;
      right: 71px;
    }

    .link {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00000052;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.3s;

      &:hover {
        background-color: #00000073;
      }
    }
  }

  .titles {
    margin-top: 10px;
    display: flex;

    .title {
      font-size: 20px;
      color: #21262e;
      font-weight: 700;
      margin-left: 15px;
      padding: 0 6px;
      cursor: pointer;
      text-decoration: none;

      &_active {
        border-bottom: 3px solid #ff4458;
      }
    }
  }

  .content {
    margin: 0 20px;
  }
}
