@keyframes user-loading {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes text-left {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(450px);
  }
}

@keyframes text-right {
  0% {
    transform: translateX(450px);
  }
  100% {
    transform: translateX(-200px);
  }
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 667px;
  width: 375px;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid var(--border-main);
  animation: user-loading 2s;

  .text {
    width: 100%;
    font-size: 42px;
    font-weight: 700;
    color: var(--color--red-90);

    &_left {
      animation: text-left 2s infinite;
    }

    &_right {
      animation: text-right 2s infinite;
    }
  }
}
