.setting{
    border-right: 1px solid var(--border-main);
    height: calc(100vh - 90px);

    .name{
        border-bottom: 1px solid var(--border-main);
        padding: 20px 16px 10px;
        text-transform: uppercase;
        color: var(--main-secondary);

        &_error{
            color: var(--danger-light);
            border-bottom: none;
            padding: 25px 16px 0px;
        }
    }

    .wrapper{
        .input{
            font-size: 16px;
            width: 100%;
            padding: 16px;
            border-bottom: 1px solid var(--border-main);
            color: var(--main-secondary);
            transition: .2s;

            &:focus{
                border-color: var(--border-main);
                color: var(--color--black-100)
            }
        }

        .textarea{
            resize: none;
            height: 200px;
        }
    }

    .title{
        font-size: 14px;
        color: var(--main-secondary);
        margin: 12px 0;
        padding: 0 16px;
    }

    .submit{
        background-color: var(--color--white-100);
        border-radius: 0;
        border: 1px solid var(--border-main);
        border-right: none;
        width: 100%;
        padding: 16px;
        cursor: pointer;
        color: var(--danger-light);
        text-align: left;
        font-size: 16px;

        &:disabled{
            background-color: var(--bg-primary);
            cursor: not-allowed;
        }

        &_noBorder{
            border-bottom: none;
        }
    }
}