@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #21262e;
}

#root{
  margin: 0;
  height: 100vh;
}

button{
  font-family: 'Roboto', sans-serif;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: #505965;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

.tinder{
  display: flex;
  height: 100%;
}

.info{
  max-width: 340px;
  width: 100%;
  height: 100%;
  border-right: 1px solid rgb(214, 214, 214);
}
.info__-gray{
  background-color: #f0f2f4;
}

.info__user{
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  background-image: linear-gradient(45deg,#fd267a,#ff6036);
}

.info__user-person,
.info__main-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  margin-left: 12px;
  border-radius: 36px;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
}

.info__user-person:hover,
.info__main-link:hover{
  background-color: rgba(0, 0, 0, 0.384);
}

.info__user-photo{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-position: 50% 79.5455%;
  background-size: auto 160%;
  background-repeat: no-repeat;
}

.info__user-name{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0 8px;
}

.info__work-mode{
  position: absolute;
  top: 25px;
  right: 71px;
}

.info__review{
  position: absolute;
  top: 25px;
  right: 15px;
}

.info__review-link,
.info__work-mode-link,
.info__main-link{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000052;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all .3s;
}

.info__main-link{
  font-size: 24px;
  background-color: #000000ad !important;
  margin-left: 16px;
}

.info__review-link:hover,
.info__work-mode-link:hover{
  background-color: #00000073;
}

.info__main-link:hover{
  transform: scale(1.1);
}

.info__content-titles{
  margin-top: 10px;
  display: flex;
}

.info__content-title{
  font-size: 20px;
  color: #21262e;
  font-weight: 700;
  margin-left: 15px;
  padding: 0 6px;
  cursor: pointer;
  text-decoration: none;
}

.info__content-title--active{
  border-bottom: 3px solid #ff4458;
}

.info__content-box{
  margin: 0 20px;
}

.info__content-pairs,
.info__content-chats{
  margin-top: 20px;
  width: 100%;
}

.info__content-pairs-item,
.info__content-chats-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 36px;
  cursor: pointer;
  transition: .3s;
}

.info__content-pairs-item:hover,
.info__content-chats-item:hover{
  background-color: rgba(0, 0, 0, 0.171);
}

.info__content-chats-item--active{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgba(0, 0, 0, 0.171);
}

.info__content-pairs-item-photo,
.info__content-chats-item-photo{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-position: 50% 79.5455%;
  background-size: auto 150.581%;
  background-repeat: no-repeat;
}

.info__content-chats-item-photo{
  height: 50px;
  width: 50px;
}

.info__content-pairs-item-name,
.info__content-chats-item-descr{
  margin-left: 10px;
}

.info__content-no-pairs{
  display: flex;
  font-weight: 600;
  color: #505965;
  padding: 5px;
  margin-top: 10px;
}

.info__content-no-pairs-icon{
  font-size: 38px;
  margin-right: 10px;
  color: #e65050;
}

.info__content-chats-item-descr-name{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}
.info__content-chats-item-descr-message{
  margin-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 210px;
  overflow: hidden;
}

.settings__groups{
  max-height: calc(100vh - 90px);
  overflow: auto;
  border-right: 1px solid rgb(214, 214, 214);
  padding-bottom: 50px;
}

.settings__groups::-webkit-scrollbar {
  display: none;
}

.settings__group{
  padding-top: 20px;
  
}

.settings__group-title{
  text-transform: uppercase;
  color: #505965;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 8px 16px;
}

.settings__group-item{
  border-bottom: 1px solid rgb(214, 214, 214);
  background-color: #FFFFFF;
  padding: 12px 16px;
}

.settings__group-item--pointer{
  cursor: pointer;
}

.settings__group-item--error{
  background-color: #fdd7d7;
}

.settings__group-item--link{
  padding: 0;
}

.settings__group-item-link{
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}
.settings__group-item--link:hover .settings__group-item-descr-setting-icon{
  color: #fd267a !important;
}

.settings__group-item-descr-setting-open-icon{
  font-size: 14px;
  color: #d4d8de;
  margin-left: 10px;
  transition: .2s;
}

.settings__group-item-descr-setting--text-overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px;
}

.settings__group-item:hover .settings__group-item-descr-setting-open-icon,
.settings__group-item--pointer:hover .settings__group-item-descr-setting{
  color: #fd267a !important;
}

.settings__group-item--sumple-button{
  border-top: 1px solid rgb(214, 214, 214);
  cursor: pointer;
}

.settings__group-item-descr{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__group-item-descr-title{
  font-size: 18px;
  font-weight: 400;
}

.settings__group-item-descr-title--link{
  color: #21262e;
}

.settings__group-item-descr-title--center{
  margin: 0 auto;
}

.settings__group-item-setting,
.settings__group-item-descr-setting,
.settings__group-item-descr-setting-icon{
  color: #505965;
}
.settings__group-item-descr-setting,
.settings__group-item-descr-setting-icon{
  transition: .2s;
}

.settings__group-descr{
  color: #505965;
  margin: 12px 0;
  padding: 0 16px;
}


.settings__group-item-setting-change-input[type=range] {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  margin: 15px 0 30px;
  width: 100%;
}
.settings__group-item-setting-change-input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ff0000;
  border-radius: 50%;
}
.settings__group-item-setting-change-input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px #000000;
  height: 28px;
  width: 28px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
  border-radius: 50%;
  transition: .2s;
}
.settings__group-item-setting-change-input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 3px #ce0101;
}

.content__setting{
  border-right: 1px solid rgb(214, 214, 214);
  height: calc(100vh - 90px);
}

.content__setting-name{
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 20px 16px 10px;
  text-transform: uppercase;
  color: #505965;
}

.content__setting-name--error{
  color: #c62c1e;
  border-bottom: none;
  padding: 25px 16px 0px;
}

.content__setting-change-input{
  font-size: 16px;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid rgb(214, 214, 214);
  color: #505965;
  transition: .2s;
}
.content__setting-change-input:focus{
  border-color: rgb(214, 214, 214);
  color: #000;
}

.content__setting-change-textarea{
  resize: none;
  height: 200px;
}

.content__setting-change-input-wrapper{
  position: relative;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 16px;
  cursor: pointer;
}

.content__setting-change-input-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.content__setting-change-input-radio + label{
  cursor: pointer;
}

.content__setting-change-checked{
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ff4458;
  width: 20px;
  height: 20px;
}

.settings__group-item-setting-change-slider {
  margin: 20px 15px 30px;
}

.input-range{
  cursor: pointer;
}

.input-range__slider {
  box-shadow: 0px 0px 2px #000000;
  height: 28px;
  width: 28px;
  position: absolute;
  left: -14px;
  bottom: -14px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
  border-radius: 50%;
  transition: .2s;
}
.input-range__slider:hover {
  box-shadow: 0px 0px 3px #ce0101;
}


.input-range__track {
  background: #ddd;
  position: relative;
  width: 100%;
  height: 2px;
}

.input-range__track--active {
  background: #ff0000;
}

.input-range__label-container,
.input-range__label--value{
  display: none;
}

.input-range__label--min .input-range__label-container,
.input-range__label--max .input-range__label-container
 {
  font-size: 0.65rem;
  color: #888;
  left: 0;
}

.input-range__label--max .input-range__label-container {
  left: 25%;
}

.settings__group-item-setting-descr--relative{
  position: relative;
}

.settings__group-item-setting-checkbox{
  position: absolute;
  top: -4px;
  right: 0;

  --width: 48px;
  --height: 28px;
  --unactive-color: rgb(121, 121, 121);
  --active-color: #ff4458;
  --box-color: #ffffff;
  --offset: 20px;
  --duration: 0.3s
}

.settings__group-item-setting-checkbox:hover{
  filter: brightness(0.9);
}

.settings__group-item-setting-checkbox-div{
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--width);
  background-color: var(--unactive-color);
  cursor: pointer;
  transition: var(--duration);
}

.settings__group-item-setting-checkbox-input{
  display: none;
}

.settings__group-item-setting-checkbox-input:checked ~ .settings__group-item-setting-checkbox-div{
  background-color: var(--active-color);
}
.settings__group-item-setting-checkbox-input:checked ~ .settings__group-item-setting-checkbox-div::before{
  left: calc(var(--width) - var(--height) + var(--offset));
}

.settings__group-item-setting-checkbox-div::before{
  --width: 48px;
  --height: 28px;
  --box-color: #ffffff;
  --offset: 2px;
  
  content: '';
  position: absolute;
  top: var(--offset);
  left: var(--offset);
  width: calc(var(--height) - 2 * var(--offset));
  height: calc(var(--height) - 2 * var(--offset));
  background-color: var(--box-color);
  border-radius: 50%;
  transition: var(--duration);
}

.content__setting-descr{
  font-size: 14px;
  color: #505965;
  margin: 12px 0;
  padding: 0 16px;
}

.content__setting-submit-button{
  background-color: #FFFFFF;
  border-radius: 0;
  border: 1px solid rgb(214, 214, 214);
  border-right: none;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  color: #c62c1e;
  text-align: left;
  font-size: 16px;
}

.content__setting-submit-button:disabled{
  background-color: #f0f2f4;
  cursor: not-allowed;
}

.content__setting-submit-button--no-border-bottom{
  border-bottom: none;
}

.content__setting-search{
  margin-left: 10px;
}

.content__setting-search-input{
  width: calc(100% - 20px);
  height: 20px;
  font-size: 18px;
  padding: 15px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 6px;
  margin-top: 10px;
}

.content__setting-result,
.content__setting-interests{
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}

.content__setting-interests{
  overflow: auto;
  max-height: 200px;
  background-color: #ececec;
  padding: 10px;
  border-top: 2px solid rgb(214, 214, 214);
  border-bottom: 2px solid rgb(214, 214, 214);
}

.content__setting-interests::-webkit-scrollbar{
  display: none;
}

.content__setting-interests-title{
  font-size: 18px;
  font-weight: 500;
  border-top: 1px solid rgb(214, 214, 214);
  padding: 15px 15px 5px;
}

.content__setting-result-item,
.content__setting-interests-item{
  border: 2px solid rgb(214, 214, 214);
  border-radius: 8px;
  padding: 5px;
  padding-right: 20px;
  margin: 5px;
  position: relative;
  cursor: pointer;
  transition: .2s;
}

.content__setting-result-item-plus,
.content__setting-interests-item-xmark{
  position: absolute;
  top: 10px;
  right: 10px;
}
.content__setting-result-item-plus::before,
.content__setting-result-item-plus::after,
.content__setting-interests-item-xmark::before,
.content__setting-interests-item-xmark::after{
  content: '';
  display: block;
  width: 2px;
  height: 10px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(214, 214, 214);
  transition: .2s;
}
.content__setting-result-item-plus::after{
  transform: rotate(90deg);
}

.content__setting-interests-item-xmark::before{
  transform: rotate(45deg);
}
.content__setting-interests-item-xmark::after{
  transform: rotate(135deg);
}

.content__setting-result-item:hover,
.content__setting-interests-item:hover{
  background-color: #fff;
}

.content__setting-result-item:hover .content__setting-result-item-plus::before,
.content__setting-result-item:hover .content__setting-result-item-plus::after,
.content__setting-interests-item:hover .content__setting-interests-item-xmark::before,
.content__setting-interests-item:hover .content__setting-interests-item-xmark::after{
  background-color: rgb(255, 71, 71);
}

.content__setting-search-input:focus{
  border-color: rgb(214, 214, 214);
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f2f4;
}

.content__users{
  width: 375px;
  max-height: 667px;
  height: 100%;
  position: relative;
}

.content__user{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

@keyframes user-loading {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.content__user--loading{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 375px;
  max-height: 667px;
  border: 3px solid rgb(214, 214, 214);
  animation: user-loading 2s;
}

.content__no-user{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border: 3px solid rgb(214, 214, 214);
  border-radius: 24px;
  transition: .2s;
}

.content__no-user:hover{
  background: #fd267815;
}

.content__no-user-text{
  font-size: 48px;
  font-weight: 700;
  color: #ff4b5d;
  width: 100%;
  text-align: center;
}

.content__no-user-subtext{
  font-size: 24px;
  font-weight: 700;
  color: #a84650b7;
  width: 100%;
  text-align: center;
}

.content__user--full{
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #0000001f;
  padding-bottom: 90px;
}
.content__user--full::-webkit-scrollbar{
  display: none;
}

.content__user--profile{
  width: 375px;
  max-height: 667px;
  height: 100%;
  position: relative;
  box-shadow: 0 0 8px 0 #0000001f;
}

.content__user-slider{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  height: 100%;
}

.content__user-slider--full{
  position: relative;
  height: calc(100% - 120px);
}

.content__user-slider-image{
  -webkit-box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
  -moz-box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
  box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
}

.content__user-slider-image--full{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  max-height: 470px;
}

.content__user-photo--profile{
  background-size: auto 135%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-height: 470px;
}

.content__info--profile{
  max-height: 200px;
  height: 100%;
  background-color: #FFFFFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
}

.content__slider{
  height: 467px;
}

.content__slider--pointer{
  cursor: pointer;
}

.content__user-descr {
  position: absolute;
  width: 100%;
  letter-spacing: .7px;
  bottom: 102px;
  left: 0;
  padding: 5px 0 25px 20px;
  cursor: pointer;
}

.content__user-descr-person,
.content__info-descr-name{
  font-size: 36px;
  font-weight: 800;
  color: #FFFFFF;
  text-shadow: 0 1px 1px #0000001f;
}

.content__user-descr-person--full{
  margin-bottom: 10px;
  color: #21262e;
}

.content__user-descr-person--margin{
  margin: 2px 0;
}

.content__info-descr-name{
  color: #21262e;
}

.content__user-descr-years,
.content__info-descr-years{
  font-size: 28px;
  font-weight: 300;
}

.content__info-descr-years{
  padding-left: 8px;
}

.content__info-descr-sex{
  color: #505965;
}

.content__info-descr-sex-icon{
  height: 16px;
  margin-right: 6px;
}

.content__user-descr-place{
  color: #fff;
  display: flex;
  align-items: baseline;
}

.content__user-descr-place--full{
  font-size: 18px;
  color: #505965;
  margin-bottom: 6px;
}

.content__user-descr-place-icon{
  font-size: 14px;
  color: #fff;
  margin-right: 5px;
}
.content__user-descr-place-icon--full{
  color: #505965;
}

.content__user-descr-distance{
  color: #FFFFFF;
  text-shadow: 0 1px 1px #0000001f;
}

.content__user-descr-distance--full{
  font-size: 18px;
  color: #505965;
}

.content__user-descr-distance-icon{
  margin: 0 5px 0 1px;
}

.content__user-distance-text{
  margin-left: 4px;
}

.content__reset{
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 350px;
  background-color: transparent;
}

.content__buttons{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.content__buttons--minimized{
  height: 90px;
  background-color: #fff;
  justify-content: center;
  box-shadow: 0px -15px 14px -10px #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.content__btn--small{
  width: 60px;
  height: 60px;
}

.content__btn--large{
  width: 70px;
  height: 70px;
}

.content__btn-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  transition: .2s;
}

.content__btn-icon-wrapper:hover .content__btn-icon{
  transform: scale(1.1);
}

.content__btn-icon-wrapper--large{
  width: 60px;
  height: 60px;
}

.content__btn-icon{
  transition: .2s;
}

.content__btn--blocked{
  border-color: rgb(214, 214, 214);
  cursor: default;
}
.content__btn-icon--blocked{
  color: rgb(214, 214, 214);
}
.content__btn-icon-wrapper:hover .content__btn-icon--blocked{
  transform: scale(1);
}

.content__btn--active-gold .content__btn-icon-wrapper{
  background-color: #ecb54d;
}
.content__btn--active-red .content__btn-icon-wrapper{
  background-color: #ff6574;
}
.content__btn--active-blue .content__btn-icon-wrapper{
  background-color: #429dff;
}
.content__btn--active-green .content__btn-icon-wrapper{
  background-color: #31ca8f
}
.content__btn--active-purple .content__btn-icon-wrapper{
  background-color: #cb78fc;
}

.content__btn--gold{
  border-color: #cd7105;
}
.content__btn-icon--gold{
  color: #ecb54d;
}

.content__btn--red{
  border-color: #ff4458;
}
.content__btn-icon--red{
  color: #ff6574;
}

.content__btn--blue{
  border-color: #1786ff;
}
.content__btn-icon--blue{
  color: #429dff;
}

.content__btn--green{
  border-color: #129e68;
}
.content__btn-icon--green{
  color: #31ca8f
}

.content__btn--purple{
  border-color: #ba52f5;
}
.content__btn-icon--purple{
  color: #cb78fc;
}

.content__btn--minimized{
  background: #FFFFFF;
  margin: 5px;
  border-color: #FFFFFF;
  box-shadow: 0 0 8px 0 #0000001f;
  transition: .2s;
}

.content__btn--minimized:hover{
  transform: scale(1.1)
}

.content__btn-icon-wrapper--minimized:hover .content__btn-icon{
  transform: scale(1)
}

.content__btn-icon{
  font-size: 28px;
}

.content__btn-icon--large{
  font-size: 38px;
}

.content__info-descr{
  padding: 10px 16px;
}

.content__change{
  height: 100%;
}

.content__change-info-wrapper{
  padding: 10px 16px
}

.content__change-info{
  height: 47px;
  border-radius: 24px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 111, 44) 0%, rgb(255, 81, 0) 100%);
  z-index: 10;
  width: calc(100% - 32px);
  position: absolute;
  left: 15px;
  bottom: 19px;
  cursor: pointer;
  border: none;
}

.content__change-info-text{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}

/* gradient animation start */
.content__change-info::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 208, 0) 0%, rgb(255, 171, 44) 100%);
  transition: opacity 0.5s ease-in-out;
  border-radius: 24px;
  z-index: -10;
}
.content__change-info:hover::before {
  opacity: 1;
}
/* gradient animation end */

.content__change-info{
  min-height: 47px;
  display: flex;
  text-decoration: none;
  color: #000;
}

.content__change-info span{
  margin: auto;
}

.content__info-separator{
  border: 1px solid #0000001f
}

.content__change-btns{
  display: flex;
  height: 46px;
  border-bottom: 1px solid #d4d8de;
}

.content__change-button{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.content__change-button--active{
  color: #d6002f;
}

.content__change-button--border{
  border-right: 1px solid #d4d8de;
}

.content__change-images{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8px 4px;
}

.content__change-images-item{
  width: 114px;
  height: 160px;
  padding-bottom: 8px;
  position: relative;
}

.content__change-images-col-item-img{
  background-position: 50% 79.5455%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border: 4px dashed #d4d8de;
  border-radius: 8px;
  background-color: #e9ebee;
  cursor: pointer;
}

.content__change-images-col-item-img--image{
  border: none;
  cursor: grab;
}

.content__change-images-col-item-btn--xmark,
.content__change-images-col-item-btn--plus{
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 3px;
  right: -6px;
}
.content__change-images-col-item-btn--xmark{
  background-color: #FFFFFF;
}
.content__change-images-col-item-btn--plus{
  background-color: #ff4458;
}

.content__change-images-col-item-btn-mark--xmark{
  width: 20px;
  height: 20px;
  color: #d6002f;
}
.content__change-images-col-item-btn-mark--plus{
  width: 12px;
  height: 12px;
  color: #FFFFFF;
}

.content__change-descr{
  text-align: center;
  padding: 0 16px;
  margin: 10px 0 14px;
  color: #505965;
  font-size: 14px;
}

.content__change-save{
  padding: 10px 0 8px;
  text-align: center;
}

.content__change-save-btn{
  height: 40px;
  border-radius: 24px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 111, 44) 0%, rgb(255, 81, 0) 100%);
  color: #FFFFFF;
  z-index: 10;
  cursor: pointer;
  border: none;
  padding: 0 24px;
  position: relative;
}

.content__change-save-text{
  font-size: 18px;
  font-weight: 500;
}

/* gradient animation start */
.content__change-save-btn::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 208, 0) 0%, rgb(255, 171, 44) 100%);
  transition: opacity 0.5s ease-in-out;
  border-radius: 24px;
  z-index: -10;
}
.content__change-save-btn:hover::before {
  opacity: 1;
}
/* gradient animation end */

.content__change-panel{
  height: calc(100% - 45px);
}

.popup{
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .5s ease 0s;
}

.popup__body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content{
  position: relative;
  background-color: #FFFFFF;
  width: 440px;
  height: 625px;
  padding: 24px;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

.upload__content{
  height: 262px;
}

.upload__close{
  position: relative;
}

.upload__close-btn{
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 12px;
}

.upload__close-btn::before{
  content: '';
  display: block;
  height: 15px;
  width: 3px;
  background: #505965;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 4px;
  right: 10px;
  border-radius: 2px;
}
.upload__close-btn::after{
  content: '';
  display: block;
  height: 15px;
  width: 3px;
  background: #505965;
  transform: rotate(45deg);
  position: absolute;
  bottom: 4px;
  right: 10px;
  border-radius: 2px;
}

.upload__title{
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.upload__descr{
  font-size: 16;
  color: #505965;
  margin-bottom: 24px;
}

.upload__inputs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload__input-wrapper{
  background: linear-gradient(45deg,#fd267a,#ff6036);
  width: 320px;
  border-radius: 16px;
}

.upload__input-label{
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 20px;
  border-radius: 16px;
}

.upload__input[type="file"] {
  display: none;
}

.upload__input-span{
  color: #FFFFFF;
  font-size: 14px;
}

.upload__input-span--bold{
  font-size: 36px;
  font-weight: 700;
}

.crop__title{
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 16px;
  text-align: center;
}

.crop__image{
  width: 392px;
  height: 430px;
  position: relative;
}

.crop__inputs{
  margin-top: 24px;
}

.crop__input-range{
  padding: 10px 40px;
}

.crop__input-range .input-range__track{
  background: rgb(119, 119, 119);
}
.crop__input-range .input-range__track--active{
  height: 3px;
  background: #ff0000;
}

.crop__input-range .input-range__slider{
  box-shadow: none;
  border: 1px solid rgb(119, 119, 119);
  bottom: -13px;
}

.crop__input-range .input-range__slider:hover{
  border: 1px solid #ff0000;
}

.crop__btns{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.crop__button{
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  cursor: pointer;
}

.crop__button--select{
  font-weight: 400;
  color: #d6002f;
}

.content__preview{
  height: 100%;
  padding: 12px;
}

.content__preview-inner{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  height: calc(100% - 50px);
  border-radius: 8px;
  position: relative;
}

.content__preview-info{
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #FFFFFF;
}

.content__preview-info-name{
  font-weight: 800;
  font-size: 36px;
}

.content__preview-info-years{
  font-size: 28px;
  font-weight: 300;
  margin-left: 8px;
}

.content__preview-full{
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: .3s;
}

.content__preview-full:hover,
.content__full-preview-close:hover{
  transform: scale(1.1);
}

.content__full-preview{
  height: 100%;
  background-color: #FFFFFF;
  overflow: auto;
}
.content__full-preview::-webkit-scrollbar{
  display: none;
}

.content__full-preview-slider{
  height: 470px;
  position: relative;
}

.content__full-preview-photo{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 125%;
  height: 470px;
  position: relative;
}

.content__full-preview-close{
  position: absolute;
  bottom: -20px;
  right: 18px;
  font-size: 44px;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: .3s;
}

.content__full-preview-close-icon{
  color:  rgba(224, 48, 48, 0.747);
  background-color: #FFFFFF;
  border-radius: 50%;
}

.content__full-preview-info{
  color: #000;
  padding: 10px 16px;
}

.content__full-preview-info-flex{
  display: flex;
  align-items: baseline;
  color: #21262e;
}

.content__full-preview-info-name{
  font-weight: 800;
  font-size: 36px;
}

.content__full-preview-info-years{
  font-size: 28px;
  font-weight: 300;
  margin-left: 8px;
  display: inline;
}

.content__full-preview-info-sex{
  display: flex;
  align-items: baseline;
  color: #505965;
  font-size: 20px;
  margin: 8px 0 0 4px;
}

.content__full-preview-info-sex-icon{
  margin-right: 6px;
  font-size: 16px;
}

.image__slider{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__stripes{
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 8px;
}

.slider__stripe{
  width: 100%;
  min-width: 20px;
  height: 4px;
  background-color: #ffffff2f;
  border-radius: 2px;
  margin: 0 2px;
}

.slider__stripe--active{
  background-color: #FFFFFF;
}

.image__slider-item{
  height: 100%;
  width: 100%;
}

.image__slider-arrows{
  position: absolute;
  height: 100%;
  width: 100%;
}

.image__slider-rigth-arrow-wrapper,
.image__slider-left-arrow-wrapper{
  height: 100%;
  width: 50%;
  cursor: pointer;
}
.image__slider-rigth-arrow-wrapper{
  float: right;
}
.image__slider-left-arrow-wrapper{
  float: left;
}


.image__slider-left-arrow{
  position: absolute;
  left: 16px;
  top: 50%;
  color: #FFFFFF;
  font-size: 30px;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}

.image__slider-right-arrow{
  position: absolute;
  right: 16px;
  top: 50%;
  color: #FFFFFF;
  font-size: 30px;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}

.image__slider-arrows:hover .image__slider-left-arrow,
.image__slider-arrows:hover .image__slider-right-arrow{
  visibility: visible;
  opacity: 1;
}

.image__slider-item-wrapper--hidden{
  display: none;
  visibility: hidden;
}

.image__slider-item-wrapper--active{
  height: 100%;
  width: 100%;
  display: block;
  visibility: visible;
}

.image__slider-item{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 110%;
}

.image__slider-item--default{
  background-size: auto 125%;
}

.image__slider-item--bdrd{
  border-radius: 8px;
}

.image__slider-item--bdrd-top{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat{
  height: 100vh;
  width: 100%;
  background-color: #f0f2f4;
  overflow: auto;
  position: relative;
}

.chat__container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-left: 17.5%;
}

.chat__messages{
  position: relative;
  padding-bottom: 40px;
}

.chat__message-wrapper{
  display: table;
  padding: 8px 0;
  position: relative;
}

.chat__message-container{
  display: flex;
  align-items: flex-end;
}

.chat__message-avatar{
  margin-right: 8px;
}

.chat__message{
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
}

.chat__message--own-message{
  background: linear-gradient(45deg,#ffdeeb,#ff623623)
}

.chat__message-username{
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 2px;
}

.chat__message-content{
  overflow-wrap: break-word;
  max-width: 584px;
}

.chat__message-mark{
  position: absolute;
  bottom: 8px;
  left: 36px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  overflow: hidden;
}

.chat__message-mark--own-message{
  background: linear-gradient(45deg,#ffdeeb,#ff623600)
}

.chat__message-mark::before{
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 69%;
  bottom: 50px;
  left: -16px;
  box-shadow: 0px 50px 0 0 #f0f2f4;
}

.chat__messages-end-ref{
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 200px;
  left: 0;
}

.chat__form-wrapper{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 340px;
  width: calc(100% - 355px);
  background-color: #e6e9ec;
  padding: 0 0 0 14%;
}

.chat__form{
  height: 50px;
  width: 100%;
  display: flex;
  padding: 4px 0;
}

.chat__form-input{
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  height: 42px;
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
}

.chat__form-button{
  width: 100px;
  height: 42px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: .2s;
  font-size: 24px;
  border-radius: 8px;
  margin-left: 8px;
}

.chat__form-button:hover{
  background-color: #d6dadd;
}

.chat__no-chats{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chat__no-chats-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 350px;
  width: 350px;
  background-color: #973a3a23;
  border: 3px solid #b94242;
  border-radius: 50%;
  padding: 50px;
}

.chat__no-chats-icon{
  font-size: 150px;
  color: #e65050;
  width: 100%;
}

.chat__no-chats-text{
  font-size: 26px;
  color: #af3d3d;
}

.info__content-pairs-link{
  display: block;
  width: 104px;
  text-decoration: none;
  transition: .2s;
}

.info__content-pairs-link:hover{
  transform: scale(1.1);
}

.info__content-pairs-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 130%;
  width: 104px;
  height: 120px;
  border: 4px solid rgb(248, 230, 127);
  border-radius: 4px;
  position: relative;
  background-color: #ccc;
}

.info__content-pairs-box-likes-count{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(248, 222, 74);
  border-radius: 50%;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
}

.info__content-pairs-box-likes{
  position: absolute;
  bottom: 3px;
  left: 3px;
  font-weight: 700;
  color: #fff;
}

.info__content-pairs-box-icon{
  position: absolute;
  bottom: -18px;
  left: 37%;
  color: rgb(245, 212, 29);
  font-size: 24px;
}

.pairs{
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.pairs::-webkit-scrollbar{
  display: none;
}

.pairs__likes{
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgb(214, 214, 214);
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.pairs__likes-icon{
  color: rgb(245, 212, 29);
  font-size: 32px;
}

.pairs__settings{
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.pairs__setting{
  border: 2px solid rgb(214, 214, 214);
  border-radius: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 5px;
  position: relative;
  cursor: pointer;
  transition: .2s;
}

.pairs__setting--sort{
  border-color: #e65050;
  color: #e65050;
}

.pairs__setting:hover{
  border-color: #e65050;
  color: #e65050;
}

.pairs__users{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 60px;
}

.pairs__user{
  width: 244px;
  height: 305px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 125%;
  margin: 5px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: .1s;
}

.pairs__user:hover{
  transform: scale(1.03);
}

.pairs__user-info{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.pairs__user-descr{
  display: flex;
}

.pairs__user-years{
  padding-left: 10px;
}

.pairs__user-distance{
  font-size: 18px;
  font-weight: 300;
}

.pairs__user-distance-text{
  padding-left: 5px;
}

.pairs__popup{
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .5s ease 0s;
}

.pairs__popup-body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.pairs__popup-content{
  position: relative;
  background-color: #FFFFFF;
  width: 440px;
  height: 600px;
  transition: all .5s ease 0s;
  border-radius: 8px;
  z-index: 100;
}

.pairs__popup-close-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  cursor: pointer;
}

.pairs__popup-content--overflow{
  overflow: auto;
}
.pairs__popup-content--overflow::-webkit-scrollbar{
  display: none;
}

.pairs__popup-title{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 20px;
}

.pairs__popup-close{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.pairs__popup-close::before,
.pairs__popup-close::after{
  content: '';
  display: block;
  height: 4px;
  width: 20px;
  background-color: #b9bfc5;
  border-radius: 4px;
  position: absolute;
  top: 11px;
  left: 2px;
}
.pairs__popup-close::before{
  transform: rotate(45deg);
}
.pairs__popup-close::after{
  transform: rotate(135deg);
}

.pairs__popup-sort-items{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.pairs__popup-setting{
  position: relative;
  padding: 0 24px 10px;
}

.pairs__popup-setting--cursor{
  cursor: pointer;
}

.pairs__popup-setting-title{
  padding-top: 4px;
}

.pairs__popup-hr{
  width: 100%;
  height: 1px;
  background-color: rgb(214, 214, 214);
}

.pairs__popup-setting-value{
  position: absolute;
  top: 4px;
  right: 24px;
  color: #505965;
}

.pairs__popup-setting-change--flex{
  display: flex;
  flex-wrap: wrap;
}

.pairs__popup-setting-change .input-range{
  margin: 20px 0 10px;
}

.pairs__popup-setting-change .input-range__track{
  height: 4px;
  border-radius: 4px;
}

.pairs__popup-setting-change .input-range__slider{
  bottom: -12px;
}

.pairs__popup-setting-change .input-range__track--active{
  background-color: #e65050;
}

.pairs__popup-setting-item,
.pairs__popup-sort-item{
  border: 2px solid #b9bfc5;
  border-radius: 16px;
  font-weight: 600;
  padding: 5px 20px;
  margin: 5px;
  color: #505965;
  cursor: pointer;
  transition: .2s;
}

.pairs__popup-setting-item--active{
  border-color: #e65050;
  color: #e65050;
}

.pairs__popup-setting-show-all,
.content__popup-setting-show-all{
  width: 89px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e65050;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

.pairs__popup-setting-change--checkbox{
  padding: 19px 0 5px;
}

.pairs__popup-setting-checkbox{
  display: none;
}

.pairs__popup-setting-label-checked{
  width: 20px;
  height: 20px;
  border: 2px solid #505965;
  border-radius: 4px;
  position: absolute;
  top: 17px ;
  right: 24px;
  cursor: pointer;
}

.pairs__popup-setting-checkbox:checked ~ .pairs__popup-setting-label-checked::before,
.pairs__popup-setting-checkbox:checked ~ .pairs__popup-setting-label-checked::after{
  content: '';
  display: block;
  height: 3px;
  width: 14px;
  background-color: #e65050;
  position: absolute;
  top: 7px;
  left: 3px;
}
.pairs__popup-setting-checkbox:checked ~ .pairs__popup-setting-label-checked::after{
  width: 6px;
  top: 9px;
  left: 1px;
  transform: rotate(40deg);
}

.pairs__popup-setting-checkbox:checked ~ .pairs__popup-setting-label-checked::before{
  transform: rotate(-45deg);
}

.pairs__popup-buttons{
  display: flex;
  height: 48px;
}

.pairs__popup-btn{
  display: block;
  width: 50%;
  height: calc(100% + 6px);
  border: none;
  background-color: #fff;
  font-size: 22px;
  color: #505965;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pairs__popup-btn--sorts-list{
  height: 60px;
  width: 100%;
  margin-top: 10px;
}

.pairs__popup-btn--border{
  border-right: 1px solid rgb(214, 214, 214);
  border-bottom-right-radius: 0;
}

.pairs__popup-btn:hover{
  color: #e65050;
}

.pairs__popup-content--pair{
  overflow: auto;
}

.pairs__popup-content--pair::-webkit-scrollbar{
  display: none;
}

.pairs__popup-slider{
  height: 550px;
}

.pairs__popup-slider-image{
  width: 440px;
  height: 550px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pairs__slider-pair-info{
  position: absolute;
  bottom: 100px;
  left: 20px;
}

.pairs__slider-info{
  display: flex;
  align-items: baseline;
}

.pairs__slider-info-name{
  font-weight: 800;
  font-size: 36px;
  color: #fff;
}

.pairs__slider-info-years{
  font-size: 28px;
  font-weight: 300;
  margin-left: 8px;
  color: #fff;
}

.pairs__slider-distance{
  color: #fff;
  padding-top: 10px;
}

.pairs__popup-scroll-down{
  width: 100%;
  height: 50px;
  font-size: 42px;
  text-align: center;
  cursor: pointer;
}

.pairs__popup-info{
  color: #000;
  padding: 10px 16px;
}

.pairs__popup-info-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #21262e;
}

.pairs__popup-info-name{
  font-weight: 800;
  font-size: 36px;
}

.pairs__popup-info-years{
  font-size: 28px;
  font-weight: 300;
  margin-left: 8px;
  display: inline;
}

.pairs__popup-info-sex{
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #505965;
  font-size: 20px;
  margin: 8px 0 0 4px;
}

.pairs__popup-info-sex-icon{
  margin-right: 6px;
  font-size: 16px;
}

.pairs__popup-info-separator,
.content__popup-info-separator{
  border: 1px solid #0000001f
}

.pairs__popup-description,
.content__popup-description{
  font-size: 16px;
  color: #505965;
  padding: 15px;
  line-height: 1.35;
}

.pairs__popup-interests-title,
.content__popup-interests-title{
  font-size: 20px;
  font-weight: 600;
  color: #505965;
  margin: 10px 0 0 25px;
}

.content__popup-interests-title{
  margin: 10px 0 0 15px;
}

.pairs__popup-interests-items,
.content__popup-interests-items{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 10px 15px 0;
}

.pairs__popup-interest,
.content__popup-interest{
  border: 2px solid #b9bfc5;
  border-radius: 16px;
  font-weight: 600;
  padding: 5px 20px;
  margin: 5px;
  color: #505965;
}

.pairs__popup-setting-item--no-cursor{
  cursor: default;
}

.pairs__popup-show-all,
.content__popup-show-all{
  margin: 0 auto;
  padding: 10px 0;
}

.pairs__popup-setting-btns{
  display: flex;
  border-top: 2px solid #0000001f;
}

.pairs__popup-setting-btn{
  border: none;
  background-color: #fff;
  width: 50%;
  height: 46px;
  cursor: pointer;
  font-size: 22px;
  color: #505965;
  text-transform: uppercase;
  transition: .2s;
}

.pairs__popup-setting-btn--border{
  border-right: 2px solid #0000001f;
}

.pairs__popup-setting-btn:hover{
  color: #e65050;
}

.notifications{
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  overflow: hidden;
}

@keyframes slidein {
  from {
    left: 420px;
  }

  to {
    left: 0px;
  }
}

.notification{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
  background-color: #dce6505d;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  animation-name: slidein;
  animation-duration: 1s;
}

.notification--active{
  left: 0px;
}

.notification--error{
  background-color: #e650505d;
}

.notification__mark{
  position: absolute;
  bottom: 2px;
  right: -12px;
  width: 12px;
  height: 13px;
  overflow: hidden;
  background-color: transparent;
}

.notification__mark::before{
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 69%;
  bottom: 50px;
  left: -16px;
  box-shadow: 0px 45px 0 0 #dce6505d;
}

.notification__mark--error::before{
  box-shadow: 0px 45px 0 0 #e650505d;
}

.notification__close{
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
}

.content__user-close-full{
  z-index: 1;
}

.content__info-setting{
  padding: 15px;
}

.content__user-descr--full{
  position: static;
  padding: 0;
  cursor: default;
}

/* Authorization */

.auth-form{
  width: 100%;
  margin: 0 auto;
}

.auth-form__container{
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #FCEFB4);
  background: -o-linear-gradient(-135deg, #c850c0, #FCEFB4);
  background: -moz-linear-gradient(-135deg, #c850c0, #FCEFB4);
  background: linear-gradient(-135deg, #c850c0, #FCEFB4);
}

.auth-form__wrap{
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.auth-form__img{
  width: 316px;
}
.auth-form__img img {
  max-width: 100%;
}

.auth-form__form{
  width: 290px;
}

.auth-form__title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.auth-form__validation{
  font-weight: 500;
  font-size: 15px;
  color: #992626;
}
.auth-form__validation div{
  margin-bottom: 10px;
}

.auth-form__input-wrap{
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.auth-form__input {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}
.auth-form__symbol-input{
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.auth-form__container-btn{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.auth-form__submit-btn {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.auth-form__disabled-submit-btn{
  background: #aaaaaa !important;
  cursor: not-allowed;
}

.auth-form__create-account{
  text-align: center;
  padding-top: 136px;
}

.auth-form__create-account-link{
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
  text-decoration: none;
}

.loading-page{
  background-image: linear-gradient(45deg,#fd267a,#ff6036);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  z-index: 100;
  transition: all 1s
}

.loading-page--invisible{
  opacity: 0;
  visibility: hidden
}

.loading-page__icon{
  color: #FFFFFF;
  height: 100px;
  width: 100px;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.policy__header{
  height: 100px;
}

.policy__header-link{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.policy__header-img{
  height: 100px;
}

.policy__header-text{
  font-size: 64px;
  font-weight: 700;
  color: #505965;
}

.policy__hr{
  height: 1px;
  background-color: #b9bfc8;
  border: none;
}

.policy__content{
  padding: 15px 0;
}

.policy__content-h1{
  font-size: 42px;
  font-weight: 800;
}

.policy__content-p{
  font-size: 16px;
  line-height: 1.5;
  color: #505965;
  padding: 15px 0;
}

@media(max-height: 720px) { /* HEIGHT */
  .content__change-info{
    position: static;
    width: 100%;
  }
}

/* Spinner */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff76aa transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-left {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(450px);
  }
}

@keyframes text-right {
  0% {
    transform: translateX(450px);
  }
  100% {
    transform: translateX(-200px);
  }
}

.content__loading-text{
  width: 100%;
  font-size: 42px;
  font-weight: 700;
  color: #e65050;
}

.content__loading-text--left{
  animation: text-left 2s infinite;
}

.content__loading-text--right{
  animation: text-right 2s infinite;
}