@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #21262e;
}

button{
  font-family: 'Roboto', sans-serif;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: #505965;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

.tinder{
  display: flex;
}

.tinder__info{
  max-width: 340px;
  width: 100%;
}
.tinder__info--gray{
  background-color: #f0f2f4;
}

.tinder__info-user{
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  background-image: linear-gradient(45deg,#fd267a,#ff6036);
}

.tinder__info-user-person,
.tinder__info-main-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  margin-left: 12px;
  border-radius: 36px;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
}

.tinder__info-user-person:hover,
.tinder__info-main-link:hover{
  background-color: rgba(0, 0, 0, 0.384);
}



.tinder__info-user-photo{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-image: url(./assets/images/profile/1.png);
  background-position: 50% 79.5455%;
  background-size: auto 95.581%;
}

.tinder__info-user-name{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0 8px;
}

.tinder__info-work-mode{
  position: absolute;
  top: 25px;
  right: 71px;
}

.tinder__info-review{
  position: absolute;
  top: 25px;
  right: 15px;
}

.tinder__info-review-link,
.tinder__info-work-mode-link,
.tinder__info-main-link{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000052;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all .3s;
}

.tinder__info-main-link{
  font-size: 24px;
  background-color: #000000ad !important;
  margin-left: 16px;
}

.tinder__info-review-link:hover,
.tinder__info-work-mode-link:hover{
  background-color: #00000073;
}

.tinder__info-main-link:hover{
  transform: scale(1.1);
}

.tinder__info-content-titles{
  margin-top: 10px;
  display: flex;
}

.tinder__info-content-title{
  font-size: 20px;
  color: #21262e;
  font-weight: 700;
  margin-left: 15px;
  padding: 0 6px;
  cursor: pointer;
}

.tinder__info-content-title--active{
  border-bottom: 3px solid #ff4458;
}

.tinder__info-content-box{
  margin: 0 20px;
}

.tinder__info-content-pairs,
.tinder__info-content-dialogs{
  margin-top: 20px;
  width: 100%;
}

.tinder__info-content-pairs-item,
.tinder__info-content-dialogs-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 36px;
  cursor: pointer;
  transition: .3s;
}

.tinder__info-content-pairs-item:hover,
.tinder__info-content-dialogs-item:hover{
  background-color: rgba(0, 0, 0, 0.171);
}

.tinder__info-content-pairs-item-photo,
.tinder__info-content-dialogs-item-photo{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-position: 50% 79.5455%;
  background-size: auto 150.581%;
  background-repeat: no-repeat;
}

.tinder__info-content-dialogs-item-photo{
  height: 50px;
  width: 50px;
}

.tinder__info-content-pairs-item-name,
.tinder__info-content-dialogs-item-descr{
  margin-left: 10px;
}

.tinder__info-content-dialogs-item-descr-name{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}
.tinder__info-content-dialogs-item-descr-message{
  margin-top: 8px;
}

.tinder__settings-groups{
  max-height: calc(100vh - 90px);
  overflow: auto;
  border-right: 1px solid rgb(214, 214, 214);
}

.tinder__settings-groups::-webkit-scrollbar {
  display: none;
}

.tinder__settings-group{
  padding-top: 20px;
  
}

.tinder__settings-group-title{
  text-transform: uppercase;
  color: #505965;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 8px 16px;
}

.tinder__settings-group-item{
  border-bottom: 1px solid rgb(214, 214, 214);
  background-color: #FFFFFF;
  padding: 12px 16px;
}

.tinder__settings-group-item--sumple-button{
  border-top: 1px solid rgb(214, 214, 214);
  cursor: pointer;
}

.tinder__settings-group-item-descr{
  display: flex;
  justify-content: space-between;
}

.tinder__settings-group-item-descr-title{
  font-size: 18px;
  font-weight: 400;
}

.tinder__settings-group-item-descr-title--center{
  margin: 0 auto;
}

.tinder__settings-group-item-setting{
  color: #505965;
}

.tinder__settings-group-descr{
  color: #505965;
  margin: 12px 0;
  padding: 0 16px;
}

.tinder__settings-group-item-setting-change-input{
  width: 40px;
  border: 1px solid #505965;
  font-size: 18px;
  padding: 5px 2px;
  margin: 15px 0;
}

.tinder__content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f2f4;
}

.tinder__content-search{
  width: 375px;
  max-height: 667px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.tinder__content-search--profile{
  box-shadow: 0 0 8px 0 #0000001f;
}

.tinder__content-search-photo{
  background-image: url(./assets/images/photos/1.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
  -moz-box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
  box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
}

.tinder__content-search-photo--profile{
  background-size: auto 135%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-height: 470px;
}

.tinder__content-info--profile{
  max-height: 200px;
  height: 100%;
  background-color: #FFFFFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
}

.tinder__content-search-descr{
  position: absolute;
  bottom: 102px;
  left: 0;
  padding: 0 20px 25px;
}

.tinder__content-search-descr-person,
.tinder__content-info-descr-name{
  font-size: 36px;
  font-weight: 800;
  color: #FFFFFF;
  text-shadow: 0 1px 1px #0000001f;
}

.tinder__content-info-descr-name{
  color: #21262e;
}

.tinder__content-search-descr-years,
.tinder__content-info-descr-years{
  font-size: 28px;
  font-weight: 300;
}

.tinder__content-info-descr-years{
  padding-left: 8px;
}

.tinder__content-info-descr-sex{
  color: #505965;
}

.tinder__content-info-descr-sex-icon{
  height: 16px;
  margin-right: 6px;
}

.tinder__content-search-descr-distance{
  color: #FFFFFF;
  text-shadow: 0 1px 1px #0000001f;
}

.tinder__content-search-buttons{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.tinder__content-search-btn{
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

.tinder__content-search-btn--small{
  width: 60px;
  height: 60px;
}

.tinder__content-search-btn--large{
  width: 70px;
  height: 70px;
}

.tinder__content-info-descr{
  padding: 10px 16px;
}



.tinder__content-change-info-wrapper{
  padding: 10px 16px
}

.tinder__content-change-info{
  height: 47px;
  border-radius: 24px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 200, 82) 0%, rgb(249, 225, 92) 100%);
  z-index: 10;
  width: calc(100% - 32px);
  position: absolute;
  left: 15px;
  bottom: 19px;
}

.tinder__content-change-info-text{
  font-size: 18px;
  font-weight: 600;
}

/* gradient animation start */
.tinder__content-change-info::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(249, 225, 92) 0%, rgb(255, 200, 82) 100%);
  transition: opacity 0.5s ease-in-out;
  border-radius: 24px;
  z-index: -10;
}
.tinder__content-change-info:hover::before {
  opacity: 1;
}
/* gradient animation end */

.tinder__content-change-info a{
  min-height: 47px;
  display: flex;
  text-decoration: none;
  color: #000;
}

.tinder__content-change-info a span{
  margin: auto;
}

.tinder__content-info-separator{
  border: 1px solid #0000001f
}

/* Authorization */

.auth-form{
  width: 100%;
  margin: 0 auto;
}

.auth-form__container{
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #FCEFB4);
  background: -o-linear-gradient(-135deg, #c850c0, #FCEFB4);
  background: -moz-linear-gradient(-135deg, #c850c0, #FCEFB4);
  background: linear-gradient(-135deg, #c850c0, #FCEFB4);
}

.auth-form__wrap{
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.auth-form__img{
  width: 316px;
}
.auth-form__img img {
  max-width: 100%;
}

.auth-form__form{
  width: 290px;
}

.auth-form__title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.auth-form__validation{
  font-weight: 500;
  font-size: 15px;
  color: #992626;
}
.auth-form__validation div{
  margin-bottom: 10px;
}

.auth-form__input-wrap{
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.auth-form__input {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}
.auth-form__symbol-input{
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.auth-form__container-btn{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.auth-form__submit-btn {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.auth-form__disabled-submit-btn{
  background: #aaaaaa !important;
  cursor: not-allowed;
}

.auth-form__create-account{
  text-align: center;
  padding-top: 136px;
}

.auth-form__create-account-link{
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
  text-decoration: none;
}

@media(max-height: 720px) { /* HEIGHT */
  .tinder__content-change-info{
    position: static;
    width: 100%;
  }
}