.main {
  display: block;
  height: 100%;

  .content {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary);
    position: relative;
    overflow: auto;

    &.isNav {
      height: calc(100% - 48px);
    }
  }
}
