name: 'ducks-tinder-client'
services:
  nginx:
    container_name: nginx
    image: nginx:1.27.2-alpine
    volumes:
      - ./nginx/nginx-dev.conf:/etc/nginx/nginx.conf.template
      - ./cert:/etc/nginx/cert
    env_file:
      - .env.dev
    ports:
      - '${PROXY_PORT}:${PROXY_PORT}'
    command: >
      /bin/sh -c "envsubst '
      \$\{PROXY_PORT\}
      \$\{CLIENT_URL\}
      \$\{PROXY_USER_SERVICE\}
      \$\{PROXY_CHAT_SERVICE\}
      \$\{PROXY_FILE_SERVICE\}
      \$\{PROXY_AUTH_SERVICE\}
      \$\{AUTH_SERVICE_URL\}
      \$\{USER_SERVICE_URL\}
      \$\{CHAT_SERVICE_URL\}
      \$\{FILE_SERVICE_URL\}      
      ' < /etc/nginx/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"
  verdaccio:
    image: verdaccio/verdaccio
    container_name: verdaccio
    networks:
      - node-network
    environment:
      - VERDACCIO_PORT=4873
    ports:
      - '4873:4873'

networks:
  node-network:
    driver: bridge
