.pairs {
  margin-top: 20px;
  width: 100%;

  .link {
    display: block;
    width: 104px;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: auto 130%;
      width: 104px;
      height: 120px;
      border: 4px solid rgb(248, 230, 127);
      border-radius: 4px;
      position: relative;

      .icon {
        position: absolute;
        bottom: -18px;
        left: 37%;
        color: rgb(245, 212, 29);
        font-size: 24px;
      }
    }
  }
}