.failed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 3px solid var(--border-main);
  border-radius: 24px;
  transition: 0.2s;

  &:hover {
    background: var(--color--black-pink);
  }

  .text {
    font-size: 24px;
    font-weight: 700;
    color: var(--color--red-100);
    width: 100%;
    text-align: center;
  }

  .subtext {
    font-size: 16px;
    font-weight: 700;
    color: var(--color--brown-60);
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .failed {
    max-width: none;
  }
}
