.slider{
    height: 467px;
}

.info{
    max-height: 200px;
    height: 100%;
    background-color: var(--color--white-100);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;

    .descr{
        padding: 10px 16px;

        .name{
            font-size: 36px;
            font-weight: 700;
            text-shadow: 0 1px 1px var(--color--black-90);

            .years{
                font-size: 28px;
                font-weight: 300;
                padding-left: 8px;
            }
        }

        .sex{
            color: var(--main-secondary);

            .icon{
                height: 16px;
                margin-right: 6px;
            }
        }
    }

    .separator{
        border: 1px solid var(--color--black-90);
    }

    .edit{
        padding: 10px 16px;

        .btn{
            height: 47px;
            margin-top: 43px;
        }
    }
}