.likes {
  height: 90px;
  width: 100%;
  border-bottom: 1px solid var(--border-main);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  background-color: var(--bg-sub-primary);
  padding-left: 40px;

  .icon {
    color: var(--color--yellow-90);
    font-size: 32px;
    margin-right: 6px;
  }
}
