.filtering {
  display: flex;
  justify-content: center;
  margin: 25px 0;

  .item {
    background-color: var(--bg-sub-primary);
  }
}

@media (max-width: 1000px) {
  .item {
    padding: 5px 8px;
    margin: 3px;
  }
}
