.popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease 0s;

  .body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

    .content {
      position: relative;
      background-color: var(--color--white-100);
      width: 440px;
      transition: all 0.5s ease 0s;
      border-radius: 8px;
      z-index: 12;

      &.xs {
        position: absolute;
        height: 40px;
        width: 100px;
      }

      &.s {
        height: 400px;
      }

      &.m {
        height: 600px;
      }

      &.l {
        height: 650px;
      }

      .title {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        padding-top: 24px;
        margin-bottom: 20px;
      }

      .close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;

        &::before,
        &::after {
          content: '';
          display: block;
          height: 4px;
          width: 20px;
          background-color: var(--bg-secondary);
          border-radius: 4px;
          position: absolute;
          top: 11px;
          left: 2px;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(135deg);
        }
      }
    }

    .closeArea {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      cursor: pointer;
    }
  }
}
