.thumbnail {
  display: block;
  border-bottom: 1px solid var(--border-main);
  background-color: var(--bg-sub-primary);
  padding: 12px 16px;

  &.pointer {
    cursor: pointer;

    &:hover .value,
    &:hover .icon {
      color: var(--color--orange-100) !important;
    }
  }

  &.error {
    background-color: var(--danger-red-light);
  }

  &.overflow {
    .value {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 133px;

      .icon {
        top: 2px;
        right: 0px;
        z-index: 1;
      }
    }
  }

  &.logout {
    border-top: 1px solid var(--border-main);

    .title {
      width: 100%;
      text-align: center;
    }

    .icon {
      display: none;
    }
  }

  .descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .title {
      font-size: 18px;
      font-weight: 400;

      &.center {
        margin: 0 auto;
      }
    }

    .valueContainer {
      display: flex;
      align-items: center;
      gap: 10px;

      .value {
        color: var(--main-secondary);
      }

      .icon {
        font-size: 14px;
        color: var(--color--white-90);
        transition: 0.2s;
      }
    }
  }
}

@media (max-width: 900px) {
  .thumbnail {
    padding: 12px 40px;
  }
}

@media (max-width: 500px) {
  .thumbnail {
    padding: 12px 10px;
  }
}

@media (max-width: 400px) {
  .thumbnail {
    .descr {
      .title {
        font-size: 16px;
        font-weight: 300;
      }

      .value {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 350px) {
  .thumbnail {
    padding: 12px 4px;

    &.overflow {
      .descr {
        .value {
          .icon {
            top: 0;
          }
        }
      }
    }

    .descr {
      .title {
        font-size: 14px;
      }

      .value {
        font-size: 12px;
      }
    }
  }
}
