.wrapper {
  .status {
    position: absolute;
    z-index: 1;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    font-size: 32px;
    font-weight: 700;
    padding: 16px 32px;
    opacity: 0;
    cursor: default;

    &.green {
      color: var(--color--green-100);
      border-color: var(--color--green-100);
      transform: rotate(-30deg);
      top: 48px;
      left: 32px;
    }

    &.red {
      color: var(--color--red-100);
      border-color: var(--color--red-100);
      transform: rotate(30deg);
      top: 64px;
      right: 32px;
    }

    &.blue {
      color: var(--color--blue-90);
      border-color: var(--color--blue-90);
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  &.grab {
    .status {
      cursor: grab;
    }
  }
}
