.item {
  position: relative;
  height: 33px;
  border: 2px solid var(--border-main);
  border-radius: 16px;
  font-weight: 600;
  padding: 5px 20px;
  margin: 5px;
  color: var(--main-secondary);
  transition: 0.2s;

  &.pointer {
    cursor: pointer;
  }

  &.active {
    border-color: var(--color--red-90);
    color: var(--color--red-90);
  }

  &.xmark {
    padding: 5px 25px 5px 10px;
  }

  .xmark {
    position: absolute;
    top: 10px;
    right: 14px;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 10px;
      border-radius: 4px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--border-main);
      transition: 0.2s;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(135deg);
    }

    &:hover {
      background-color: var(--color--white-100);
    }
  }

  &:hover .xmark::before,
  &:hover .xmark::after {
    background-color: rgb(255, 71, 71);
  }
}

@media (max-width: 400px) {
  .item {
    font-size: 14px;
    height: 28px;

    padding: 4px 16px;
  }
}

@media (max-width: 340px) {
  .item {
    font-size: 12px;
    height: 23px;

    padding: 3px 12px;
  }
}
