.btns {
  display: flex;
  height: 46px;
  border-bottom: 1px solid var(--sub-border-main);
  background-color: var(--bg-sub-primary);

  .active {
    color: var(--color--red-80);
  }

  .border {
    border-right: 1px solid var(--sub-border-main);
  }
}
