.image{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-position: 50% 79.5455%;
    background-size: auto 160%;
    background-repeat: no-repeat;

    &_chat,
    &_pairs{
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-position: 50% 79.5455%;
        background-size: auto 150.581%;
        background-repeat: no-repeat;
    }

    &_chat{
        height: 50px;
        width: 50px;
    }

    &_message{
        margin-right: 8px;
    }
}