.profile {
  display: flex;
  height: 100%;

  .info {
    max-width: 340px;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgb(214, 214, 214);
    background-color: #f0f2f4;

    .links {
      position: relative;
      display: flex;
      align-items: center;
      height: 90px;
      background-image: linear-gradient(45deg, #fd267a, #ff6036);

      .mainLink {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        margin-left: 16px;
        border-radius: 50%;
        text-decoration: none;
        height: 40px;
        width: 40px;
        color: #ffffff;
        font-size: 24px;
        background-color: rgba(0, 0, 0, 0.384);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #000000ad;
          transform: scale(1.1);
        }
      }

      .review {
        position: absolute;
        top: 25px;
        right: 15px;

        .link {
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #00000052;
          border-radius: 50%;
          color: #ffffff;
          transition: all 0.3s;

          &:hover {
            background-color: #00000073;
          }
        }
      }

      .work {
        position: absolute;
        top: 25px;
        right: 71px;

        .link {
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #00000052;
          border-radius: 50%;
          color: #ffffff;
          transition: all 0.3s;

          &:hover {
            background-color: #00000073;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f0f2f4;

    .user {
      width: 375px;
      height: 100%;
      max-height: 667px;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 8px 0 #0000001f;
    }
  }
}
