.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;

  .link {
    display: block;
    background-color: var(--color--brown-90);
    border: 2px solid var(--color--brown-80);
    border-radius: 12px;
    padding: 10px 20px;
    transition: 0.2s;

    &:hover {
      background-color: #fff;
    }

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 12px;
      color: var(--color--red-90);
    }

    .text {
      font-size: 18px;
    }
  }
}
