.list {
  margin-bottom: 24px;
  max-height: 396px;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .participant {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
