.pairs {
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;

  .likes {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid var(--border-main);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 40px;

    .icon {
      color: rgb(245, 212, 29);
      font-size: 32px;
    }
  }

  .settings {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    .setting {
      border: 2px solid var(--border-main);
      border-radius: 16px;
      font-weight: 600;
      padding: 5px 10px;
      margin: 5px;
      position: relative;
      cursor: pointer;
      transition: 0.2s;

      &.sort {
        border-color: var(--color--red-90);
        color: var(--color--red-90);
      }
    }
  }

  .users{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 60px;
  }
}
