.container {
  padding: 24px;

  .image {
    width: 392px;
    height: 430px;
    position: relative;
  }

  .wrapper {
    margin-top: 15px;

    .input {
      padding: 10px 40px;
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

    .btn {
      font-weight: 300;
      max-width: 100px;
      color: var(--color--black-100);

      &.select {
        font-weight: 400;
        color: var(--color--red-80);
      }
    }
  }
}
