.padding {
  padding-bottom: 48px;
}

.btns {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color--white-100);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  display: flex;
  border-top: 2px solid var(--sub-border-main);

  .btn {
    height: 46px;
    font-size: 22px;
    text-transform: uppercase;
    transition: 0.2s;
    font-weight: 400;
    border-bottom-right-radius: 8px;

    &.border {
      border-right: 2px solid var(--sub-border-main);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 8px;
    }

    &:hover {
      color: var(--color--red-90);
    }
  }
}
