:root {
  --main-primary: #21262e;
  --main-secondary: #505965;
  --bg-primary: #f0f2f4;
  --bg-secondary: #b9bfc5;

  --color--red-100: #ff4458;
  --color--red-90: #e65050;

  --color--pink-100: #fd267a;
  --color--pink-10: #ffdeeb;

  --color--orange-100: #ff6036;

  --color--black-90: #0000001f;

  --color--white-100: #fff;
  --color--white-90: #e6e9ec;
  --color--white-80: #d6dadd;

  --color--brown-100: #ff623623;
  --color--brown-80: #b94242;
  --color--brown-60: #af3d3d;
}
