.head {
  background-color: var(--bg-sub-primary);
  border-bottom: 1px solid var(--border-main);
  padding: 10px 0;
  position: relative;

  .title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }

  .submit {
    font-weight: 700;
    color: var(--color--red-100);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    padding: 10px;
    cursor: pointer;
  }
}
