.slider {
  position: relative;
  height: 100%;
  width: 100%;

  .item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;

    &.default {
      background-size: auto 125%;
    }

    &.bdrdTop {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  li {
    width: 100%;
    margin: 0 2px;
    list-style: none;
  }
}

.dots {
  position: absolute;
  top: 0;
  width: 100%;
}

.wrapper {
  cursor: pointer;
  padding: 6px 0 16px;

  .dot {
    width: 100%;
    height: 4px;
    background-color: var(--color--black-50);
    border-radius: 2px;

    &.active {
      background-color: var(--color--white-100);
    }
  }
}
