.dots {
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  margin-left: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 8px;
  }
}
