version: '3.5'

services:
  postgres:
    container_name: integration-tests-prisma
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
      POSTGRES_DB: tests
    ports:
      - '5433:5432'
