.message {
  background-color: var(--bg-sub-primary);
  padding: 8px;
  padding-right: 40px;
  border-radius: 8px;

  &.own {
    background: linear-gradient(
      45deg,
      var(--primary-message),
      var(--second-message)
    );
  }

  &.selected {
    background: var(--selected-message);
  }

  &.edited {
    padding-right: 80px;
  }

  &.editing {
    padding-right: 8px;
    min-width: 590px;

    .content {
      max-width: none;
      width: 590px;
    }
  }
}

@media (max-width: 1200px) {
  .message {
    &.editing {
      min-width: calc(100vw - 340px - 200px - 70px);
    }
  }
}

@media (max-width: 1150px) {
  .message {
    max-width: 400px;

    &.editing {
      min-width: calc(100vw - 340px - 160px - 70px);
    }
  }
}

@media (max-width: 1050px) {
  .message {
    max-width: 350px;

    &.editing {
      min-width: calc(100vw - 340px - 150px - 70px);
    }
  }
}

@media (max-width: 950px) {
  .message {
    max-width: 300px;
  }
}

@media (max-width: 900px) {
  .message {
    max-width: calc(100vw - 140px);
  }
}

@media (max-width: 550px) {
  .message {
    max-width: calc(100vw - 120px);
  }
}

@media (max-width: 380px) {
  .message {
    max-width: calc(100vw - 84px);
  }
}
