.message {
  background-color: var(--bg-sub-primary);
  padding: 8px;
  padding-right: 40px;
  border-radius: 8px;

  &.own {
    background: linear-gradient(
      45deg,
      var(--primary-message),
      var(--second-message)
    );
  }

  &.selected {
    background: var(--selected-message);
  }

  &.edited {
    padding-right: 80px;
  }

  &.editing {
    padding-right: 8px;
    min-width: 590px;

    .content {
      max-width: none;
      width: 590px;
    }
  }
}

@media (max-width: 1150px) {
  .message {
    max-width: 400px;
  }
}

@media (max-width: 1050px) {
  .message {
    max-width: 350px;
  }
}

@media (max-width: 950px) {
  .message {
    max-width: 300px;
  }
}

@media (max-width: 900px) {
  .message {
    max-width: 700px;
  }
}

@media (max-width: 830px) {
  .message {
    max-width: 600px;
  }
}

@media (max-width: 750px) {
  .message {
    max-width: 500px;
  }
}

@media (max-width: 650px) {
  .message {
    max-width: 400px;
  }
}

@media (max-width: 550px) {
  .message {
    max-width: 350px;
  }
}

@media (max-width: 470px) {
  .message {
    max-width: 300px;
  }
}

@media (max-width: 430px) {
  .message {
    max-width: 250px;
  }
}

@media (max-width: 340px) {
  .message {
    max-width: 230px;
  }
}

@media (max-width: 320px) {
  .message {
    max-width: 200px;
  }
}

@media (max-width: 290px) {
  .message {
    max-width: 170px;
  }
}
