.message {
  background-color: var(--bg-sub-primary);
  padding: 8px;
  padding-right: 40px;
  border-radius: 8px;

  &.own {
    background: linear-gradient(
      45deg,
      var(--primary-message),
      var(--second-message)
    );
  }

  &.selected {
    background: var(--selected-message);
  }

  &.edited {
    padding-right: 80px;
  }

  &.editing {
    padding-right: 8px;
    min-width: 590px;

    .content {
      max-width: none;
      width: 590px;
    }
  }
}

@media (max-width: 1150px) {
  .message {
    max-width: 400px;
  }
}

@media (max-width: 1050px) {
  .message {
    max-width: 350px;
  }
}

@media (max-width: 950px) {
  .message {
    max-width: 300px;
  }
}
