.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 102px;
  padding: 0 10px;

  &.minimized {
    // for full user content
    height: 90px;
    background-color: var(--color--white-100);
    justify-content: center;
    box-shadow: 0px -15px 14px -10px var(--color--white-100);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .large {
    width: 70px;
    height: 70px;
  }

  .small {
    width: 60px;
    height: 60px;
  }

  .minimized {
    background: var(--color--white-100);
    margin: 5px;
    border-color: var(--color--white-100);
    box-shadow: 0 0 8px 0 var(--color--black-90);
    transition: 0.1s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .blocked {
    border-color: var(--border-main);
    cursor: default;
  }

  .gold {
    border-color: var(--color--yellow-100);
  }

  .red {
    border-color: var(--color--red-100);
  }

  .blue {
    border-color: var(--color--blue-100);
  }

  .green {
    border-color: var(--color--green-100);
  }

  .purple {
    border-color: var(--color--purple-100);
  }

  .btn {
    transition: 0.2s;

    .red {
      width: 28px;
    }

    .icon {
      transition: 0.2s;
      font-size: 28px;

      &.large {
        font-size: 38px;
      }

      &.blocked {
        color: var(--border-main);
      }

      &.gold {
        color: var(--color--yellow-100);
      }

      &.red {
        color: var(--color--red-70);
      }

      &.blue {
        color: var(--color--blue-90);
      }

      &.green {
        color: var(--color--green-80);
      }

      &.purple {
        color: var(--color--purple-80);
      }
    }

    &:hover:not(.minimized) :not(.blocked).icon {
      transform: scale(1.1);
    }

    &:hover {
      &.gold {
        background-color: var(--color--yellow-100);

        .icon {
          color: var(--color--yellow-90);
        }
      }

      &.red {
        background-color: var(--color--red-70);

        .icon {
          color: var(--color--red-100);
        }
      }

      &.blue {
        background-color: var(--color--blue-90);

        .icon {
          color: var(--color--blue-100);
        }
      }

      &.green {
        background-color: var(--color--green-80);

        .icon {
          color: var(--color--green-100);
        }
      }

      &.purple {
        background-color: var(--color--purple-80);

        .icon {
          color: var(--color--purple-100);
        }
      }
    }
  }
}
