.block {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  height: 50px;
  width: 100%;
  background-color: var(--bg-chat-form);
  position: relative;

  .icon {
    width: 24px;
    height: 24px;
    padding: 0 10px;

    &.colored {
      color: var(--color--red-90);
    }
  }

  .submit {
    padding: 0px 10px;

    .icon {
      padding: 8px;
      border-radius: 16px;
      background-color: var(--bg-sub-primary);
      color: var(--main-primary);
      cursor: pointer;
    }
  }

  .input {
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
    max-width: 500px;
  }

  .message {
    margin-left: 10px;

    .title {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 2px;
      color: var(--color--red-90);
    }

    .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      max-width: 400px;
    }
  }

  .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    padding: 10px;
    cursor: pointer;
  }
}

@media (max-width: 1150px) {
  .block {
    width: 100%;

    .message {
      .text {
        max-width: 350px;
      }
    }

    .input {
      max-width: none;
    }
  }
}

@media (max-width: 900px) {
  .block {
    .message {
      .text {
        max-width: calc(100vw - 200px);
      }
    }
  }
}

@media (max-width: 600px) {
  .block {
    padding: 2px 10px;

    .close {
      right: 6px;
    }
  }
}

@media (max-width: 470px) {
  .block {
    .message {
      .text {
        font-size: 12px;
      }
    }

    .close {
      right: 4px;
    }

    .input {
      font-size: 16px;
    }
  }
}

@media (max-width: 300px) {
  .block {
    .message {
      .text {
        max-width: 120px;
      }
    }
  }
}
