.title {
  font-size: 20px;
  color: var(--main-primary);
  font-weight: 700;
  margin-left: 15px;
  padding: 0 6px;
  cursor: pointer;
  position: relative;

  .newMessages {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    background-color: var(--color--red-100);
    width: 20px;
    height: 20px;
    border-radius: 50%;

    .count {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);

      font-size: 14px;
      color: var(--color--white-100);
    }
  }
}
