.setting {
  border-right: 1px solid var(--border-main);
  height: calc(100vh - 90px);
  background-color: var(--bg-primary);

  .name {
    border-bottom: 1px solid var(--border-main);
    padding: 20px 16px 10px;
    text-transform: uppercase;
    color: var(--main-secondary);

    &.error {
      color: var(--danger-light);
      border-bottom: none;
      padding: 25px 16px 0px;
    }
  }

  .title {
    font-size: 14px;
    color: var(--main-secondary);
    margin: 12px 0;
    padding: 0 16px;
  }

  button.noBorder {
    border-bottom: none;
  }
}
