.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  .users {
    width: 375px;
    max-height: 667px;
    height: calc(100% - 56px);
    position: absolute;
    z-index: 1;
    top: calc(50% - 48px);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &.mobile {
    height: 100%;

    .users {
      width: 100%;
      max-height: none;
    }
  }

  &.explore {
    background: linear-gradient(
      var(--color--purple-100) 0%,
      var(--color--red-90) 100%
    );
  }
}

@media (max-height: 800px) {
  .wrapper {
    .users {
      max-height: calc(100% - 60px);
      top: calc(50% - 20px);
      height: 100%;
      width: calc(min(375px, calc(100% / 1.75)));
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    .users {
      top: 50%;
      height: 100%;
    }
  }
}
