.closeFullPreview {
  z-index: 1;
  font-size: 44px !important;
  height: 44px !important;
  width: 44px !important;
  bottom: -20px;
  right: 18px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  .icon {
    color: rgba(224, 48, 48, 0.747);
    background-color: var(--color--white-100);
    border-radius: 50%;
  }
}

.descr {
  position: absolute;
  width: 100%;
  letter-spacing: 0.7px;
  height: 120px;
  bottom: 102px;
  left: 0;
  z-index: 1;
  color: var(--color--white-100);
  padding: 5px 0 25px 20px;
  cursor: pointer;
  .openFullPreview {
    bottom: 20px;
    right: 30px;
    z-index: 2;
    font-size: 24px;
    color: var(--color--white-100);
    background-color: var(--color--black-100);
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
