.slider{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .stripes{
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 8px;

    .stripe{
      width: 100%;
      min-width: 20px;
      height: 4px;
      background-color: #ffffff2f;
      border-radius: 2px;
      margin: 0 2px;

      &_active{
        background-color: var(--color--white-100);
      }
    }
  }

  .arrows{
    position: absolute;
    height: 100%;
    width: 100%;

    .rigthArrowWrapper,
    .leftArrowWrapper{
      height: 100%;
      width: 50%;
      cursor: pointer;
    }

    .rigthArrowWrapper{
      float: right;

      .rightArrow{
        position: absolute;
        right: 16px;
        top: 50%;
        color: var(--color--white-100);
        font-size: 30px;
        visibility: hidden;
        opacity: 0;
        transition: .2s;
      }

      &:hover .rightArrow{
        visibility: visible;
        opacity: 1;
      } 
    }

    .leftArrowWrapper{
      float: left;

      .leftArrow{
        position: absolute;
        left: 16px;
        top: 50%;
        color: var(--color--white-100);
        font-size: 30px;
        visibility: hidden;
        opacity: 0;
        transition: .2s;
      }

      &:hover .leftArrow{
        visibility: visible;
        opacity: 1;
      } 
    }
  }

  .itemWrapper{
    &_hidden{
      display: none;
      visibility: hidden;
    }
    
    &_active{
      height: 100%;
      width: 100%;
      display: block;
      visibility: visible;
    }
  }
  .item{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 110%;

    &_default{
      background-size: auto 125%;
    }

    &_bdrd{
      border-radius: 8px;
    }

    &_bdrdTop{
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &_tinder{
      -webkit-box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
      -moz-box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
      box-shadow: inset -30px -200px 45px -60px rgba(0,0,0,1);
    }

    &_tinderFull{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      max-height: 470px;
    }
  }
}