.wrapper {
  padding: 2px 0;

  .container {
    display: flex;

    .flex {
      position: relative;
      display: flex;
      gap: 8px;
    }

    .dots {
      font-size: 20px;
      cursor: pointer;
      padding: 8px;
      opacity: 0;
      visibility: hidden;
      transition: 0.1s;

      &:hover {
        background-color: var(--selected-message);
        border-radius: 8px;
      }
    }

    &:hover .dots {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (max-width: 1150px) {
  .wrapper {
    .container {
      position: relative;
    }

    &.own {
      .container {
        justify-content: end;

        .flex {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    user-select: none;
  }
}
