.setting {
  border-right: 1px solid var(--border-main);
  height: calc(100vh - 90px);
  background-color: var(--bg-primary);

  .name {
    border-bottom: 1px solid var(--border-main);
    padding: 20px 16px 10px;
    text-transform: uppercase;
    color: var(--main-secondary);

    &.error {
      color: var(--danger-light);
      border-bottom: none;
      padding: 25px 16px 0px;
    }
  }

  .title {
    font-size: 14px;
    color: var(--main-secondary);
    margin: 12px 0;
    padding: 0 16px;
  }

  .link {
    display: block;
  }

  .btn {
    max-height: 53px;
    background-color: var(--bg-sub-primary);
    border-right: none;
    padding: 16px;
    cursor: pointer;
    color: var(--danger-light);
    text-align: left;
    font-size: 16px;
    font-weight: 500;

    &:disabled {
      background-color: var(--bg-primary);
      cursor: not-allowed;
    }

    &.noBorder {
      border-bottom: none;
    }
  }
}
