.preview {
  width: 100%;
  height: 100%;
  background-color: var(--bg-sub-primary);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  .slider {
    height: 100%;
    position: relative;

    .image {
      position: relative;
      z-index: -1;
    }

    .arrows {
      height: 85%;
    }
  }

  .info {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 100px;
    left: 20px;
    color: var(--color--white-100);
    letter-spacing: 0.7px;
  }

  .descr {
    position: absolute;
    width: 100%;
    letter-spacing: 0.7px;
    bottom: 102px;
    left: 0;
    z-index: 1;
    color: var(--color--white-100);
    padding: 5px 0 25px 20px;
    cursor: pointer;

    .person {
      font-size: 36px;
      font-weight: 700;
      height: 43px;

      .years {
        font-size: 28px;
        font-weight: 300;
      }
    }

    .place {
      display: flex;
      align-items: baseline;
      font-size: 16px;

      .name {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 244px;
      }

      .icon {
        font-size: 14px;
        margin-right: 5px;
      }
    }

    .distance {
      font-size: 16px;

      .icon {
        margin: 0 8px 0 1px;
      }

      .text {
        margin-left: 4px;
      }
    }

    .openFullPreview {
      bottom: 40px;
      right: 30px;
      z-index: 2;
      font-size: 24px;
      color: var(--color--white-100);
      background-color: var(--color--black-100);
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 400px) {
  .preview {
    .descr {
      .person {
        font-size: 28px;

        .years {
          font-size: 24px;
        }
      }

      .place {
        .name {
          max-width: 170px;
          font-size: 14px;
        }
      }

      .distance {
        font-size: 14px;

        .text {
          font-size: 14px;
        }
      }
    }
  }
}
