.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 102px;
  padding: 0 10px;

  &.minimized {
    // for full user content
    height: 90px;
    background-color: var(--bg-sub-primary);
    justify-content: center;
    box-shadow: 0px -15px 14px -10px var(--bg-sub-primary);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .large {
    width: 70px;
    height: 70px;
  }

  .small {
    width: 60px;
    height: 60px;
  }

  .minimized {
    margin: 5px;
    transition: 0.1s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--color--white-100);
    border: 1px solid var(--color--white-100);
    border-radius: 50%;
    cursor: pointer;

    transition: color 0.2s, background 0.2s;

    &.blocked {
      border-color: var(--border-main);
      cursor: default;
    }

    &.gold {
      border-color: var(--color--yellow-100);
    }

    &.red {
      border-color: var(--color--red-100);
    }

    &.blue {
      border-color: var(--color--blue-100);
    }

    &.green {
      border-color: var(--color--green-100);
    }

    &.purple {
      border-color: var(--color--purple-100);
    }

    .icon {
      transition: 0.2s;
      font-size: 28px;

      &.large {
        font-size: 38px;
      }

      &.blocked {
        color: var(--border-main);
      }

      &.gold {
        color: var(--color--yellow-100);
      }

      &.red {
        width: 28px;
        color: var(--color--red-70);
      }

      &.blue {
        color: var(--color--blue-90);
      }

      &.green {
        color: var(--color--green-80);
      }

      &.purple {
        color: var(--color--purple-80);
      }
    }

    &:hover:not(.minimized) :not(.blocked).icon {
      transform: scale(1.1);
    }

    &:hover {
      &.gold {
        background-color: var(--color--yellow-100);

        .icon {
          color: var(--color--yellow-90);
        }
      }

      &.red {
        background-color: var(--color--red-70);

        .icon {
          color: var(--color--red-100);
        }
      }

      &.blue {
        background-color: var(--color--blue-90);

        .icon {
          color: var(--color--blue-100);
        }
      }

      &.green {
        background-color: var(--color--green-80);

        .icon {
          color: var(--color--green-100);
        }
      }

      &.purple {
        background-color: var(--color--purple-80);

        .icon {
          color: var(--color--purple-100);
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .buttons {
    .large {
      width: 60px;
      height: 60px;
    }
    .small {
      width: 40px;
      height: 40px;
    }

    .btn {
      .icon {
        font-size: 20px;

        &.red {
          width: 24px;
        }

        &.green {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .buttons {
    .large {
      width: 50px;
      height: 50px;
    }
    .small {
      width: 36px;
      height: 36px;
    }

    .btn {
      .icon {
        font-size: 18px;

        &.red {
          width: 20px;
        }

        &.green {
          font-size: 20px;
        }
      }
    }
  }
}
