.user {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 0;

  .slider {
    height: 100%;

    .image {
      position: relative;
      z-index: -1;
    }

    .wrapper {
      box-shadow: rgb(0 0 0) 0px -205px 55px -65px inset;
    }

    .arrows {
      height: 85%;
    }
  }

  .descr {
    position: absolute;
    width: 100%;
    letter-spacing: 0.7px;
    bottom: 102px;
    left: 0;
    padding: 5px 0 25px 20px;
    cursor: pointer;

    .person {
      font-size: 36px;
      font-weight: 700;
      color: var(--color--white-100);
      text-shadow: 0 1px 1px var(--color--black-90);

      .years {
        font-size: 28px;
        font-weight: 300;
      }
    }

    .place {
      color: var(--color--white-100);
      display: flex;
      align-items: baseline;

      .icon {
        font-size: 14px;
        color: var(--color--white-100);
        margin-right: 5px;
      }
    }

    .distance {
      color: var(--color--white-100);
      text-shadow: 0 1px 1px var(--color--black-90);

      .icon {
        margin: 0 8px 0 1px;
      }
    }

    .openFullPreview {
      bottom: 30px;
      right: 30px;
      font-size: 24px;
      color: var(--color--white-100);
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
