.textarea{
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: var(--main-secondary);
  background-color: var(--bg-sub-primary);
  border: 1px solid var(--border-main);
  resize: none;
  outline: none;

  &:focus{
    border-color: var(--border-main);
  }
}