.preview {
  height: 100%;
  padding: 12px;

  .inner {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    height: calc(100% - 50px);
    border-radius: 8px;
    position: relative;

    .slider {
      border-radius: 8px;
    }

    .info {
      display: flex;
      align-items: baseline;
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: var(--color--white-100);
      padding: 15px;

      .descr {
        width: 100%;
        letter-spacing: 0.7px;
        bottom: 102px;
        left: 0;

        .person {
          font-size: 36px;
          font-weight: 700;
          color: var(--color--white-100);
          text-shadow: 0 1px 1px var(--color--black-90);
          margin: 2px 0;

          .years {
            font-size: 28px;
            font-weight: 300;
          }
        }

        .place {
          color: var(--color--white-100);
          display: flex;
          align-items: baseline;
          margin: 2px 0;

          .icon {
            font-size: 14px;
            color: var(--color--white-100);
            margin-right: 5px;
          }
        }

        .distance {
          color: var(--color--white-100);
          text-shadow: 0 1px 1px var(--color--black-90);
          margin: 2px 0;

          .icon {
            margin: 0 5px 0 1px;
          }

          .text {
            margin-left: 4px;
          }
        }
      }
    }

    .openFullPreview {
      bottom: 30px;
      right: 20px;
      font-size: 24px;
      color: var(--color--white-100);
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.content__user-descr-place-icon--full {
  color: var(--main-secondary);
}

.content__user-descr-person--full {
  margin-bottom: 10px;
  color: var(--main-primary);
}

.content__user-descr-person--margin {
  margin: 2px 0;
}

.content__info-descr-name {
  color: var(--main-primary);
}

.content__preview-info-name {
  font-weight: 700;
  font-size: 36px;
}

.content__preview-info-years {
  font-size: 28px;
  font-weight: 300;
  margin-left: 8px;
}

.content__preview-full {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 24px;
  color: var(--color--white-100);
  cursor: pointer;
  background: transparent;
  border: none;
  transition: 0.3s;
}

.content__preview-full:hover,
.content__full-preview-close:hover {
  transform: scale(1.1);
}
