.instructions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .toggle {
    height: 25px;
    font-size: 16px;
    font-weight: 700;
    background-color: #50596559;
    color: var(--color--white-100);
    cursor: pointer;
    padding: 0 20px;
    border: none;
    border-radius: 16px;
    margin-right: 20px;
    transition: 0.2s;

    &:hover {
      background-color: var(--main-secondary);
    }
  }

  .instruction {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .icon {
      font-size: 20px;
      color: #5059658f;
      margin-right: 8px;

      &_rotate {
        transform: rotate(90deg);
      }

      &_space {
        width: 70px;
        height: 20px;
        border: 2px solid #5059658f;
        border-radius: 4px;
      }
    }

    .text {
      color: #5059658f;
      font-weight: 900;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 1160px) {
    display: none;
  }
}
