.noPairs {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--main-secondary);
  padding: 5px;
  margin-top: 10px;

  &.mobile {
    justify-content: center;
    margin: 0;
    padding: 60px 16px 0;
  }

  .icon {
    font-size: 38px;
    margin-right: 10px;
    color: var(--color--red-90);
  }
}
