.profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--bg-sub-primary);
  border-bottom: 1px solid var(--border-main);

  .user {
    display: flex;
    align-items: center;
    border-radius: 36px;
    padding: 4px;
    margin-left: 24px;
    cursor: pointer;
    transition: background-color 0.3s;

    .avatar {
      width: 40px;
      min-width: 40px;
      height: 40px;
    }

    .name {
      font-weight: 600;
      font-size: 18px;
      margin: 0 8px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.171);
    }
  }
}
