.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 50px);
  width: 100%;

  .user {
    width: 375px;
    height: 100%;
    max-height: 667px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 8px 0 var(--color--black-90);
  }
}

@media (max-width: 900px) {
  .wrapper {
    display: block;
    height: 100%;
    width: 100%;
  }
}
