.group {
  padding-top: 20px;

  .groupTitle {
    text-transform: uppercase;
    color: var(--main-secondary);
    border-bottom: 1px solid var(--border-main);
    padding: 8px 16px;
  }

  .items {
    .item {
      border-bottom: 1px solid var(--border-main);
      background-color: var(--color--white-100);
      padding: 12px 16px;

      &.link {
        padding: 0;

        .icon {
          color: var(--main-secondary);
          transition: 0.2s;
        }

        &:hover .icon {
          color: var(--color--pink-100) !important;
        }

        .link {
          display: block;
          padding: 12px 16px;
        }
      }

      .descr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 18px;
          font-weight: 400;
          color: var(--main-primary);
        }
      }
    }
  }
}
