.arrows {
  position: absolute;
  height: 100%;
  width: 100%;

  .rigthArrowWrapper,
  .leftArrowWrapper {
    height: 100%;
    width: 50%;
    cursor: pointer;
  }

  .rigthArrowWrapper {
    float: right;

    .rightArrow {
      position: absolute;
      right: 16px;
      top: 50%;
      color: var(--color--white-100);
      font-size: 30px;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s;
    }

    &:hover .rightArrow {
      visibility: visible;
      opacity: 1;
    }
  }

  .leftArrowWrapper {
    float: left;

    .leftArrow {
      position: absolute;
      left: 16px;
      top: 50%;
      color: var(--color--white-100);
      font-size: 30px;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s;
    }

    &:hover .leftArrow {
      visibility: visible;
      opacity: 1;
    }
  }
}
