.wrapper {
  background-color: var(--bg-chat-form);

  .blocked {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    padding: 4px 0;
    margin-left: 14vw;

    .icon {
      width: 28px;
      height: 28px;
      color: var(--color--red-90);
    }

    .descr {
      margin-left: 12px;

      .name {
        font-weight: 700;
        font-size: 20px;
        margin-right: 8px;
      }

      .text {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  .form {
    height: 50px;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    display: flex;
    padding: 4px 0;
    margin-left: 14vw;

    .input {
      font-size: 20px;
      font-weight: 400;
      padding: 0 10px;
      max-width: 500px;
    }

    .button {
      width: 100px;
      height: 42px;
      transition: 0.2s;
      font-size: 24px;
      border-radius: 8px;
      margin-left: 8px;
      font-weight: 500;
      background-color: inherit;
      cursor: default;

      &:not(:disabled):hover {
        cursor: pointer;
        background-color: var(--color--white-80);
      }
    }
  }
}

@media (max-width: 1260px) {
  .wrapper {
    .form {
      margin-left: 50px;
      padding: 4px 20px;
    }
  }
}

@media (max-width: 1150px) {
  .wrapper {
    .form {
      justify-content: space-between;
      max-width: none;
      margin-left: 0;
      padding: 4px 20px;

      .input {
        max-width: none;
      }
    }
  }
}

@media (max-width: 650px) {
  .wrapper {
    .form {
      .button {
        width: 80px;
        font-size: 20px;
      }
    }
  }
}
