.wrapper {
  background-color: var(--color--white-90);

  .reply {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 500px;
    margin-left: 14vw;
    position: relative;

    .border {
      height: 40px;
      width: 4px;
      background-color: var(--color--red-90);
      border-radius: 2px;
    }

    .message {
      margin-left: 10px;

      .username {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 2px;
      }

      .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        max-width: 400px;
      }
    }

    .close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      padding: 20px;
      cursor: pointer;

      .mark {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;

        &::before,
        &::after {
          content: '';
          display: block;
          height: 4px;
          width: 20px;
          background-color: var(--color--black-85);
          border-radius: 4px;
          position: absolute;
          top: 11px;
          left: 2px;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(135deg);
        }
      }
    }
  }

  .form {
    height: 50px;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    display: flex;
    padding: 4px 0;
    margin-left: 14vw;

    .input {
      font-size: 20px;
      font-weight: 400;
      padding: 0 10px;
      max-width: 500px;
    }

    .button {
      width: 100px;
      height: 42px;
      transition: 0.2s;
      font-size: 24px;
      border-radius: 8px;
      margin-left: 8px;
      font-weight: 500;
      background-color: inherit;
      cursor: default;

      &:not(:disabled):hover {
        cursor: pointer;
        background-color: var(--color--white-80);
      }
    }
  }
}
