.groups{
    max-height: calc(100vh - 90px);
    overflow: auto;
    border-right: 1px solid rgb(214, 214, 214);
    padding-bottom: 50px;

    &::-webkit-scrollbar {
        display: none;
    }

    .group{
        padding-top: 20px;

        .groupTitle{
            text-transform: uppercase;
            color: #505965;
            border-bottom: 1px solid rgb(214, 214, 214);
            padding: 8px 16px;
        }

        .groupDescr{
            color: #505965;
            margin: 12px 0;
            padding: 0 16px;
        }

        .items{
            .item{
                border-bottom: 1px solid rgb(214, 214, 214);
                background-color: #FFFFFF;
                padding: 12px 16px;
                
                &_pointer{
                    cursor: pointer;

                    &:hover .setting,
                    &:hover .openIcon{
                        color: #fd267a !important;
                    }
                }

                &_error{
                    background-color: #fdd7d7;
                }

                &_link{
                    padding: 0;

                    .icon{
                        color: #505965;
                        transition: .2s;
                    }

                    &:hover .icon{
                        color: #fd267a !important;
                    }

                    .link{
                        display: block;
                        padding: 12px 16px;
                        text-decoration: none;
                    }
                }

                &_button{
                    border-top: 1px solid rgb(214, 214, 214);
                    cursor: pointer;
                }

                .descr{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .title{
                        font-size: 18px;
                        font-weight: 400;

                        &_link{
                            color: #21262e;
                        }

                        &_center{
                            margin: 0 auto;
                        }
                    }

                    .setting{
                        color: #505965;
                        transition: .2s;

                        &_textOverflow{
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            max-width: 180px;
                        }

                        .openIcon{
                            font-size: 14px;
                            color: #d4d8de;
                            margin-left: 10px;
                            transition: .2s;
                        }
                    }
                }

                .setting{
                    .slider{
                        margin: 20px 0px 10px;
                    }

                    .checkbox{
                        position: relative;

                        .label{
                            position: absolute;
                            top: -4px;
                            right: 0;
                          
                            --width: 48px;
                            --height: 28px;
                            --unactive-color: rgb(121, 121, 121);
                            --active-color: #ff4458;
                            --box-color: #ffffff;
                            --offset: 20px;
                            --duration: 0.3s;

                            &:hover{
                                filter: brightness(0.9);
                            }
                        }
                          
                        .content{
                            position: relative;
                            width: var(--width);
                            height: var(--height);
                            border-radius: var(--width);
                            background-color: var(--unactive-color);
                            cursor: pointer;
                            transition: var(--duration);

                            &::before{
                                --width: 48px;
                                --height: 28px;
                                --box-color: #ffffff;
                                --offset: 2px;
                                
                                content: '';
                                position: absolute;
                                top: var(--offset);
                                left: var(--offset);
                                width: calc(var(--height) - 2 * var(--offset));
                                height: calc(var(--height) - 2 * var(--offset));
                                background-color: var(--box-color);
                                border-radius: 50%;
                                transition: var(--duration);
                            }
                        }
                          
                        .input{
                            display: none;

                            &:checked ~ .content{
                                background-color: var(--active-color);
                            }

                            &:checked ~ .content::before{
                                left: calc(var(--width) - var(--height) + var(--offset));
                            }
                        }
                    }
                }
            }
        }
    }
}