.title {
  font-size: 24px;
  font-weight: 700;
  margin: 80px 0 10px 50px;
}

.descr {
  font-size: 16;
  color: var(--main-secondary);
  margin: 0 0 24px 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .input {
    background: linear-gradient(
      45deg,
      var(--color--pink-100),
      var(--color--orange-90)
    );
    width: 320px;
    border-radius: 16px;

    .label {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      padding: 20px;
      border-radius: 16px;

      .span {
        color: var(--color--white-100);
        font-size: 14px;

        .boldSpan {
          font-size: 36px;
          font-weight: 700;
        }
      }

      .input[type='file'] {
        display: none;
      }
    }
  }
}

@media (max-width: 400px) {
  .title {
    margin: 30px 0 10px 30px;
  }

  .descr {
    margin: 0 0 12px 30px;
  }

  .wrapper {
    .input {
      width: 240px;
      border-radius: 12px;

      .label {
        padding: 15px;
        border-radius: 12px;
      }
    }
  }
}
