.reply {
  display: flex;
  align-items: center;
  padding: 10px;
  width: calc(100% - 30px);
  margin-left: 20px;
  position: relative;

  .border {
    height: 40px;
    width: 4px;
    background-color: var(--color--red-90);
    border-radius: 2px;
  }

  .message {
    margin-left: 10px;
    max-width: calc(100% - 80px);

    .username {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 2px;
    }

    .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }

  .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    padding: 10px;
    cursor: pointer;

    .icon {
      width: 24px;
      height: 24px;
      padding: 0 10px;
    }
  }
}

@media (max-width: 600px) {
  .reply {
    .close {
      right: 6px;
    }
  }
}

@media (max-width: 470px) {
  .reply {
    .close {
      right: 4px;
    }
  }
}

@media (max-width: 400px) {
  .reply {
    .close {
      right: 1px;
    }
  }
}

@media (max-width: 550px) {
  .reply {
    width: calc(100% - 10px);
    margin-left: 10px;
  }
}

@media (max-width: 470px) {
  .reply {
    .message {
      .text {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 300px) {
  .reply {
    .message {
      .text {
        max-width: 120px;
      }
    }
  }
}
