.preview {
  width: 100%;
  height: 100%;
  background-color: var(--bg-sub-primary);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  .slider {
    height: 100%;
    position: relative;

    .arrows {
      height: 85%;
    }
  }

  .descr {
    position: absolute;
    width: 100%;
    letter-spacing: 0.7px;
    height: 120px;
    bottom: 102px;
    left: 0;
    z-index: 1;
    color: var(--color--white-100);
    padding: 5px 0 25px 20px;
    cursor: pointer;

    .openFullPreview {
      bottom: 20px;
      right: 30px;
      z-index: 2;
      font-size: 24px;
      color: var(--color--white-100);
      background-color: var(--color--black-100);
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
