.group {
  padding-top: 20px;

  .groupTitle {
    text-transform: uppercase;
    color: var(--main-secondary);
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 8px 16px;
  }

  .groupDescr {
    color: var(--main-secondary);
    margin: 12px 0;
    padding: 0 16px;
  }

  .items {
    .item {
      border-bottom: 1px solid rgb(214, 214, 214);
      background-color: var(--color--white-100);
      padding: 12px 16px;

      &_pointer {
        cursor: pointer;

        &:hover .setting,
        &:hover .openIcon {
          color: var(--color--pink-100) !important;
        }
      }

      .descr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 18px;
          font-weight: 400;
        }

        .setting {
          color: var(--main-secondary);
          transition: 0.2s;

          .openIcon {
            font-size: 14px;
            color: #d4d8de;
            margin-left: 10px;
            transition: 0.2s;
          }
        }
      }
    }
  }
}
