.wrapper {
  padding: 8px 0;

  .container {
    display: flex;

    .flex {
      position: relative;
      display: flex;
    }

    &:hover .dots {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (max-width: 1150px) {
  .wrapper {
    .container {
      position: relative;
    }
  }
}
