.pairs {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 40px 30px;
  gap: 20px;
}

.noPairs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--main-secondary);
  padding: 5px;
  margin-top: 10px;

  .icon {
    font-size: 38px;
    margin-right: 10px;
    color: var(--color--red-90);
  }
}

@media (max-width: 575px) {
  .pairs {
    margin: 30px 15px 20px;
  }
}
