.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  background-color: var(--bg-sub-primary);

  .link {
    padding: 5px 20px;
    position: relative;

    .icon {
      font-size: 24px;
      color: var(--main-secondary);
      transition: 0.2s;

      &.active {
        color: var(--color--red-100);
      }
    }

    .newMessages {
      position: absolute;
      top: 20%;
      transform: translateY(-50%);
      right: 10px;
      background-color: var(--color--red-100);
      width: 18px;
      height: 18px;
      border-radius: 50%;

      .count {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        font-size: 10px;
        color: var(--color--white-100);
      }
    }
  }
}
