.item {
  position: relative;
  border: 2px solid var(--border-main);
  border-radius: 16px;
  font-weight: 600;
  padding: 5px 20px;
  color: var(--main-secondary);
  transition: 0.2s;

  &.active {
    border-color: var(--color--orange-100);
    color: var(--color--orange-100);
  }
}

@media (max-width: 400px) {
  .item {
    font-size: 14px;
    height: 28px;

    padding: 4px 16px;
  }
}

@media (max-width: 340px) {
  .item {
    font-size: 12px;
    height: 23px;

    padding: 3px 12px;
  }
}
