.groups {
  max-height: calc(100vh - 90px);
  overflow: auto;
  scrollbar-width: none;
  border-right: 1px solid var(--border-main);
  padding-bottom: 50px;
  background-color: var(--bg-primary);

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 900px) {
  .groups {
    max-height: 100%;
  }
}
