.groups {
  $linksBarHeight: 90px;

  max-height: calc(100% - $linksBarHeight);
  overflow: auto;
  scrollbar-width: none;
  padding-bottom: 50px;
  background-color: var(--bg-primary);

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 900px) {
  .groups {
    $submitBarHeight: 50px;

    max-height: calc(100% - $submitBarHeight);
  }
}
