.profile {
  height: 100%;
  width: 100%;
  background-color: var(--bg-sub-secondary);

  .miniature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 410px;
    position: relative;
    background-color: var(--bg-primary);

    &::after {
      content: '';
      position: absolute;
      bottom: -40px;
      left: 0;
      display: block;
      height: 80px;
      width: 100%;

      background-color: var(--bg-primary);
      border-bottom-left-radius: 150%;
      border-bottom-right-radius: 150%;
    }

    .wrapper {
      width: 100%;

      .user {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .avatarWrapper {
          width: 100%;
          margin: 0 auto;

          .avatar {
            margin: 0 auto;
          }
        }

        .descr {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-top: 20px;

          .name {
            font-size: 28px;
            font-weight: 500;
            margin-right: 8px;
          }

          .age {
            font-size: 28px;
          }
        }
      }

      .actions {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .action {
          min-width: 100px;
          padding: 10px;
          text-align: center;

          &.top {
            margin-bottom: 40px;
          }

          &.pointer {
            cursor: pointer;
          }

          .iconWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 1px solid var(--sub-border-main);
            border-radius: 50%;
            margin: 0 auto 10px;

            .icon {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .membership {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 360px;
    height: 410px;
    width: 100%;
    padding-top: 40px;

    background-color: var(--bg-sub-secondary);
  }
}

@media (max-width: 340px) {
  .profile {
    .miniature {
      .wrapper {
        .actions {
          .action {
            font-size: 12px;
            min-width: auto;
            padding: 0px;
          }
        }
      }
    }
  }
}
