.wrapper {
  background-color: var(--bg-chat-form);
  padding: 4px 20px;

  .blocked {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    margin-left: 14vw;

    .icon {
      width: 28px;
      height: 28px;
      color: var(--color--red-90);
    }

    .descr {
      margin-left: 12px;

      .name {
        font-weight: 700;
        font-size: 20px;
        margin-right: 8px;
      }

      .text {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  .form {
    height: 42px;
    width: 100%;
    min-width: 200px;
    display: flex;

    .input {
      font-size: 20px;
      font-weight: 400;
      padding: 0 10px;
    }

    .button {
      width: 42px;
      min-width: 42px;
      height: 42px;
      transition: 0.2s;
      font-size: 24px;
      border-radius: 8px;
      margin-left: 8px;
      font-weight: 500;
      background-color: inherit;
      cursor: default;

      &:not(:disabled):hover {
        cursor: pointer;
        background-color: var(--color--white-80);
      }

      .icon {
        color: var(--main-secondary);
      }
    }
  }
}

.lazy {
  background-color: var(--bg-chat-form);
  padding: 4px 20px;
  display: flex;
  gap: 8px;
  height: 50px;

  .input_wrapper {
    flex-grow: 1;

    .input {
      width: 100%;
      height: 42px;
    }
  }

  .button {
    width: 42px;
    min-width: 42px;
    height: 42px;
  }
}

@media (max-width: 1150px) {
  .wrapper {
    .form {
      justify-content: space-between;
      max-width: none;

      .input {
        max-width: none;
      }
    }
  }
}

@media (max-width: 550px) {
  .wrapper {
    padding: 4px;

    .form {
      .button {
        min-width: 42px;
        font-size: 20px;
      }
    }
  }

  .lazy {
    padding: 4px;
  }
}
