.container {
  padding: 24px;
  height: calc(100% - 66px);

  .cropper {
    width: 392px;
    height: 430px;
    position: relative;
  }

  .wrapper {
    margin-top: 15px;
    padding: 10px 40px;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

    .btn {
      font-weight: 300;
      max-width: 100px;
      color: var(--main-primary);

      &.select {
        font-weight: 400;
        color: var(--color--red-80);
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0px 24px;

    .cropper {
      width: calc(100vw - 48px);
      height: calc(100% - 124px);
    }
  }
}
